*{
    margin: 0;
    padding: 0;
}



#test1{
    display: none;
}
#test2{
    display: none;
}

body{
    position: relative;
    width: 1900px;
    height: 100%;
    /* background: #FFFFFF;*/
    /*background-color: grey;*/
}
/*body{
    background-color: red;
}*/
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('woff');
    /*    src: url('fonts/Montserrat-Italic-VariableFont_wght.ttf') format('woff');*/
}
/*.navbar-sticky{
    background-color: red;
    z-index: 999999;
    height: 161px;
    top: 0px;
    width: 100%;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
}*/
*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    width: 1900px;
    height: 100%;
    /* background: #FFFFFF;*/
    /*background-color: grey;*/
}
/*body{
    background-color: red;
}*/
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('woff');
    /*    src: url('fonts/Montserrat-Italic-VariableFont_wght.ttf') format('woff');*/
}
/*.navbar-sticky{
    background-color: red;
    z-index: 999999;
    height: 161px;
    top: 0px;
    width: 100%;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
}*/
#header-main{
    z-index: 99999;
    position: absolute;
    top: 0px;
    left: 60px;
    /*left: 0px;*/
    /*background-color: grey;*/
    /*background-color: white;*/
    height: 80px;
    width: 90%;
    /*width: 100%;*/


}
#l-button-top{
    position: absolute;
    width: 50.91px;
    height: 0px;
    top: 10px;
    /*left: 704px;
    top: 929.23px;*/

    border: 1px solid #000000;
    transform: rotate(-45deg);
}
#l-button-bot{
    position: absolute;
    width: 50.91px;
    height: 0px;
    top: 46px;
    /*left: 704px;
    top: 929px;*/

    border: 1px solid #000000;
    transform: rotate(45deg);
}
#r-button-top{
    position: absolute;
    width: 50.91px;
    height: 0px;
    top: 10px;
    /*left: 704px;
    top: 929.23px;*/

    border: 1px solid #000000;
    transform: rotate(45deg);
}
#r-button-bot{
    position: absolute;
    width: 50.91px;
    height: 0px;
    top: 46px;
    /*left: 704px;
    top: 929px;*/

    border: 1px solid #000000;
    transform: rotate(-45deg);
}
#first-screen{
    position: absolute;
    width: 1352px;
    height: 161px;
    left: 284px;
    top: 42px;
    /*background-color: red;*/
}
#logo{
    position: absolute;
    /*background-color: green;*/
    top: -20px;
    left: 340px;
    width: 120px;
    height: 120px;
}
#name{
    /*background-color: red;*/
    position: absolute;
    width: 172.45px;
    height: 18.15px;
    left: 762.03px;
    top: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* Accent */

    color: #D1A954;
}
#reviews{
    position: absolute;
    width: 73.26px;
    height: 18.15px;
    left: 1381.94px;
    top: 30px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000000;
}
#IT{
    position: absolute;
    width: 136.38px;
    height: 18.15px;
    left: 1226.67px;
    top: 30px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000000;
}
#Attraction{

    position: absolute;
    width: 244.58px;
    height: 18.15px;
    left: 962.66px;
    top: 30px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000000;
}
#Attraction:hover{

    position: absolute;
    width: 244.58px;
    height: 18.15px;
    left: 962.66px;
    top: 30px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: underline;

    color: #000000;
}
#main-menu{

    position: absolute;
    width: 99.19px;
    height: 32.9px;
    left: 634px;
    top: 22px;
    cursor: pointer;
    border: 1px solid rgba(209, 169, 84, 0.9);
    box-sizing: border-box;
}
#main-menu:hover{

    position: absolute;
    width: 99.19px;
    height: 32.9px;
    left: 634px;
    top: 22px;
    cursor: pointer;
    border: 1px solid rgba(209, 169, 84, 0.9);
    box-sizing: border-box;
    text-decoration: underline;
}
#drop-menu{
    position: absolute;
    left: 1580px;
    top: 30px;
    width: 40px;
    /*background-color: red;*/
    height: 20px;
    cursor: pointer;
}
#url-main{
    position: absolute;
    width: 78.9px;
    height: 18.15px;
    left: 644.81px;
    top: 30px;
    cursor: pointer;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;


    /* Accent */

    color: #D1A954;

}
#url-main:hover{
    position: absolute;
    width: 78.9px;
    height: 18.15px;
    left: 644.81px;
    top: 30px;
    cursor: pointer;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: underline;

    /* Accent */

    color: #D1A954;

}
#ext{
    position: absolute;
    width: 158.94px;
    height: 161px;
    left: 284px;
    top: 64px;
}
#menu{
    cursor: pointer;
    position: absolute;
    width: 820.54px;
    height: 32.9px;
    left: 634.67px;
    top: 64px;
}
#first-line{
    position: absolute;
    width: 39.74px;
    height: 0px;
    border: 1px solid #000000;
}
#second-line{
    position: absolute;
    width: 39.74px;
    height: 0px;
    top: 10px;

    border: 1px solid #000000;
}
#third-line{
    top: 20px;
    position: absolute;
    width: 39.74px;
    height: 0px;
    border: 1px solid #000000;
}
#slider1{
    position: absolute;
    width: 20px;
    height: 0px;
    left: 888px;
    top: 932px;
    background-color: black;
    border: 1px solid #000000;
}
#slider2{
    position: absolute;
    width: 144px;
    height: 0px;
    left: 888px;
    top: 932px;

    border: 1px solid #E5E5E5;
}
#slider3{
    position: absolute;
    width: 7.04px;
    height: 0px;
    left: 1046px;
    top: 933.6px;

    border: 1px solid #000000;
    transform: matrix(-0.71, 0.7, -0.71, -0.71, 0, 0);
}
#slider4{
    position: absolute;
    width: 7.04px;
    height: 0px;
    left: 1046px;
    top: 929px;

    border: 1px solid #000000;
    transform: matrix(-0.71, -0.7, -0.71, 0.71, 0, 0);
}
#slider5{
    position: absolute;
    width: 40.04px;
    height: 0px;
    top: 48px;


    border: 1px solid #000000;
    transform: matrix(-0.71, 0.7, -0.71, -0.71, 0, 0);
}
#slider6{
    position: absolute;
    width: 40.04px;
    height: 0px;
    top: 20px;


    border: 1px solid #000000;
    transform: matrix(-0.71, -0.7, -0.71, 0.71, 0, 0);
}

#head-txt-left{
    position: absolute;
    width: 580px;
    height: 29px;
    left: 60px;
    top: 742px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}
#info-txt-left{
    position: absolute;
    width: 580px;
    height: 34px;
    left: 60px;
    top: 791px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */

    text-align: center;

    color: #FFFFFF;

}






.carousel {
    position: absolute;
    width: 1800px;
    height: 721px;
    top: 100px;
    left: 50px;
    /*background-color: green;*/



    /*position: relative;
    width: 1740px;
    height: 650px;*/
    /*padding: 10px 40px;*/
    /*border: 1px solid #CCC;*/
    /*border-radius: 15px;
    background: #eee;*/
}
.carousel img {
    width: 580px;
    height: 650px;
    /*top: 0px;*/
    margin-right: 60px;
    margin-left: -36px;
    /*padding-right: 130px;*/
    /*margin-right: 130px;*/
    /* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
    display: block;
}
.bg-block{
    position: absolute;
    z-index: 99999;
    width: 481px;
    height: 480px;
    border: 4px solid #E0AB4D;
    border-radius: 9px;
    bottom: 0px;
    left: -36px;
}
.bg-txt{
    position: absolute;
    width: 430px;
    height: 119px;
    left: 25px;
    top: 330px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    text-align: center;

    color: #000000;

}
.bg-block img{
    position: absolute;
    left: 130px;
    top: 25px;
    width: 281px;
    height: 281px;
    display: block;
}
.hd{
    left: -1px;
    top: 21px;

    position: absolute;
    height: 30px;
    width: 550px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}
.hd-info{
    position: absolute;
    left: -1px;
    top: 70px;
    width: 550px;
    height: 56px;



    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */

    text-align: center;

    color: #FFFFFF;

}
.box{
    position: absolute;
    width: 550px;
    height: 126px;
    left: 15px;
    top: 20px;

    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
}
.arrow {
    position: absolute;
    top: 60px;
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
}
.arrow1 {
    position: absolute;
    top: 900px;
    left: 1041px;
    height: 80px;
    width: 60px;
    /*background-color: red;*/
    border: 1px solid black;
}
.button-next{
    /*background-color: red;*/
    position: absolute;
    height: 80px;
    width: 60px;
    left: 1115px;
    display: block;
    cursor: pointer;
    top: 690px;
}
.button-prev{
    /*background-color: red;*/
    position: absolute;
    height: 80px;
    width: 60px;
    left: 625px;
    display: block;
    cursor: pointer;
    top: 690px;
}
.arrow:focus {
    outline: none;
}

.arrow:hover {
    background: #ccc;
    cursor: pointer;
}
.gallery {
    /*left: 1px;*/
    position: absolute;
    /*left: 25px;*/
    /*background-color: red;*/
    width: 1800px;
    overflow: hidden;
}
.gallery ul {
    /*position: absolute;*/
    height: 600px;
    width: 9999px;
    /*margin: 0;*/
    /*padding: 30px;*/
    list-style: none;
    /*background-color: red;*/
    transition: margin-left 250ms;
    /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
    font-size: 0;
}
.gallery li {
    width: 480px;
    height: 480px;
    left: 45px;
    margin: 53px;
    position: absolute;
    cursor: pointer;
    display: inline-block;
}


#first-block{
    position: absolute;
    width: 1800px;
    height: 721px;
    top: 217px;
    left: 60px;
    /*background-color: red;*/
}


.about-city{
    position: absolute;
    width: 1900px;
    height: 1178px;
    top: 900px;
    left: 0px;
    /*ackground-color: grey;
    overflow: hidden;*/
}
#center-txt{
    position: absolute;
    width: 287px;
    height: 35px;
    left: 800px;

    /* h2 */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 145%;
    /* or 52px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #222222;

}


#last-block{

    position: absolute;
    width: 1900px;
    height: 137px;
    left: 0px;
    top: 4920px;

    /*background: #C4C4C4;*/
}
#first{
    position: absolute;
    width: 319px;
    height: 15px;
    left: 405px;
    top: 77px;

    /* p */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */


    color: #000000;
}
#second{
    position: absolute;
    width: 261px;
    height: 15px;
    left: 1254px;
    top: 77px;

    /* p */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */

    text-align: right;

    color: #000000;
}
#last-picture{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 810px;
    top: -70px;
}

#welcome{
    position: absolute;
    width: 1900px;
    height: 625px;
    left: 0px;
    top: 4311px;
    background: #F9F7F7;
}

#w-h{
    position: absolute;
    width: 437px;
    height: 52px;
    left: 743px;
    top: 50px;

    /* h2 */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 145%;
    /* or 52px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #222222;
}
#w-a{
    position: absolute;
    width: 58px;
    height: 11px;
    left: 931px;
    top: 180px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #000000;
}
.w-f{
    position: absolute;
    width: 310px;
    height: 301px;
}
#w-logo{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 942px;
    top: 141px;
}
#w-f1{
    top: 323px;
    left: 0px;
}
#w-f2{
    top: 323px;
    left: 320px;
}
#w-f3{
    top: 323px;
    left: 639px;
}
#w-f4{
    top: 323px;
    left: 950px;
}
#w-f5{
    top: 323px;
    left: 1270px;
}
#w-f6{
    top: 323px;
    left: 1590px;
}
.wid-f{
    position: absolute;
    height: 301px;
    width: 320px;
}


#croll-to-top{
    width: 50px;
    height: 50px;
    position: sticky;
    bottom: 0px;
    left: 1700px;
    top: 1600px;
    z-index: 99999;
    background-color: red;
}



#feedback{
    position: absolute;
    width: 1110px;
    height: 408px;
    left: 405px;
    top: 3783px;
    /*background-color: red;*/
}
#fb-h{
    position: absolute;
    width: 392px;
    height: 40px;
    left: 0px;
    top: -25px;

    /* h2 */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 145%;
    /* or 52px */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000000;

}
.block{
    position: absolute;
    width: 255px;
    height: 183px;
    /*background-color: green;*/
    top: 225px;
}
.b1{
    left: 285px;
}
.hl{
    position: absolute;
    width: 230px;
    height: 17px;
    left: 0px;
    top: 0px;

    /* h3 */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
    /* or 22px */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000000;
}
.frs-line{
    position: absolute;
    left: 55px;
    top: 48px;
    position: absolute;
    width: 200px;
    height: 34px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */

    text-decoration-line: underline;

    color: #000000;

}
.snd-line{
    position: absolute;
    left: 55px;
    top: 107px;
    width: 191px;
    height: 24px;

    /* p */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */


    color: #000000;

}
.thr-line{
    position: absolute;
    width: 175px;
    height: 19px;
    left: 55px;
    top: 163px;

    /* p */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    /* identical to box height, or 19px */


    color: #000000;

}
#fb-inf{
    position: absolute;
    width: 540px;
    height: 78px;
    left: 0px;
    top: 131px;

    /* p */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */


    /* gray */

    color: #616161;
}

.ft1{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0px;
    top: 52px;

}
.ft2{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0px;
    top: 107px;
}
.ft3{
    position: absolute;
    width: 22px;
    height: 22px;
    left: 4px;
    top: 162px;

}
#form{
    position: absolute;
    width: 540px;
    height: 400px;
    left: 570px;
    top: 8px;
    /*background-color: red;*/
}
#ur-name{
    position: absolute;
    width: 527px;
    height: 31px;
    left: 0px;
    top: 8px;

    /* p */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */


    /* gray */

    color: #616161;


}
#ur-email{
    position: absolute;
    width: 527px;
    height: 32px;
    left: 0px;
    top: 56px;

    /* p */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */


    /* gray */

    color: #616161;
}
#ur-msg{
    position: absolute;
    width: 527px;
    height: 172px;
    left: 0px;
    top: 138px;

    /* p */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */


    /* gray */

    color: #616161;

}
#send{
    position: absolute;
    width: 182px;
    height: 45px;
    left: 0px;
    top: 363px;

    /* Accent */

    background: #D1A954;
}
#send-txt{
    position: absolute;
    width: 111px;
    height: 22px;
    top: 12px;
    left: 36px;

    /* h3 */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 135%;
    /* identical to box height, or 22px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;

}
input{
    border: 0;
    border-bottom: 1px solid #000;
    background-color: rgba(0,0,0,0);
    outline: 0;
}


#last-block{

    position: absolute;
    width: 1900px;
    height: 137px;
    left: 0px;
    top: 4920px;

    /*background: #C4C4C4;*/
}
#first{
    position: absolute;
    width: 319px;
    height: 15px;
    left: 405px;
    top: 77px;

    /* p */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */


    color: #000000;
}
#second{
    position: absolute;
    width: 261px;
    height: 15px;
    left: 1254px;
    top: 77px;

    /* p */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */

    text-align: right;

    color: #000000;
}
#last-picture{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 810px;
    top: -70px;
}

#welcome{
    position: absolute;
    width: 1900px;
    height: 625px;
    left: 0px;
    top: 4311px;
    background: #F9F7F7;
}

#w-h{
    position: absolute;
    width: 437px;
    height: 52px;
    left: 743px;
    top: 50px;

    /* h2 */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 145%;
    /* or 52px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #222222;
}
#w-a{
    position: absolute;
    width: 58px;
    height: 11px;
    left: 931px;
    top: 180px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #000000;
}
.w-f{
    position: absolute;
    width: 310px;
    height: 301px;
}
#w-logo{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 942px;
    top: 141px;
}
#w-f1{
    top: 323px;
    left: 0px;
}
#w-f2{
    top: 323px;
    left: 320px;
}
#w-f3{
    top: 323px;
    left: 639px;
}
#w-f4{
    top: 323px;
    left: 950px;
}
#w-f5{
    top: 323px;
    left: 1270px;
}
#w-f6{
    top: 323px;
    left: 1590px;
}
.wid-f{
    position: absolute;
    height: 301px;
    width: 320px;
}


#croll-to-top{
    width: 50px;
    height: 50px;
    position: sticky;
    bottom: 0px;
    left: 1700px;
    top: 1600px;
    z-index: 99999;
    background-color: red;
}