@charset "UTF-8";
html {
  box-sizing: inherit;
  font-size: calc(100vw / 1920 * 10);
  /*  @media(max-width: 1024px) {
      font-size: calc(100vw / 768 * 10);
    }
  
    @media(max-width: 767px) {
      font-size: calc(100vw / 500 * 10);
    }
  
    @media(max-width: 500px) {
      font-size: calc(100vw / 375 * 10);
    }*/ }
  @media (max-width: 1024px) {
    html {
      font-size: calc(100vw / 1920 * 10); } }

body {
  min-width: 320px;
  font-style: normal;
  font-weight: 400;
  color: black;
  overflow-x: hidden;
  padding-top: 2rem; }

@font-face {
  font-family: 'Montserrat';
  src: url("../img/fonts/Montserrat-VariableFont_wght.ttf") format("woff2"); }
@font-face {
  font-family: 'Bitum';
  src: url("../img/fonts/bitum/Bitum.ttf") format("woff"); }
@font-face {
  font-family: 'Object Sans';
  src: url("../img/fonts/PP Object Sans/PPObjectSans-Heavy.otf") format("woff"); }
/*@font-face {
font-family: 'Inter';
src: url('fonts/Inter/Inter.ttf') format('woff');
}*/
/* шапка сайта */
/*scrollbar*/
body::-webkit-scrollbar {
  width: 20px;
  /* ширина scrollbar */ }

body::-webkit-scrollbar-track {
  background: #faf0e2;
  /* цвет дорожки */ }

body::-webkit-scrollbar-track {
  margin-top: 0px;
  /* отступ от начала страницы*/
  margin-bottom: 0px;
  /*отступ от конца страницы*/ }

body::-webkit-scrollbar-thumb {
  background-color: #D1A954;
  /* цвет плашки */
  border-radius: 10px;
  /* закругления плашки */ }

/*главный слайдер*/
.set-pos {
  display: flex;
  min-height: 72rem;
  margin: 0 auto; }

#slider {
  justify-content: center;
  max-width: 100%;
  width: 140rem;
  margin: 0 auto;
  /*background-color: red;*/ }

.sub-slider {
  position: absolute;
  width: 18.2rem;
  height: 71rem;
  background: linear-gradient(90deg, #E4B859 0%, #EDBF5F 100%, #EDBF5F 100%, #EDBF5F 100%);
  /*border-radius: 20px 0px 0px 20px;*/
  /*@media(max-width: 500px) {
    width: 9.1rem;
    height: 35.5rem;
  }*/ }

#SFEDU-bg-1 {
  position: absolute;
  width: 140rem;
  height: 71rem;
  z-index: -9;
  display: block;
  /*@media(max-width: 500px) {
    width: 70rem;
    height: 35.5rem;
  }*/ }

#SFEDU-bg-2 {
  position: absolute;
  width: 140rem;
  height: 71rem;
  z-index: -9;
  display: none; }

#SFEDU-bg-3 {
  position: absolute;
  width: 140rem;
  height: 71rem;
  z-index: -9;
  display: none; }

#SFEDU-block {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: auto;
  vertical-align: middle;
  position: absolute;
  top: 21rem;
  left: 5.1rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 7rem;
  line-height: 8.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 0px; }

#POLI-block {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: auto;
  vertical-align: middle;
  position: absolute;
  top: 17rem;
  left: 5.1rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 7rem;
  line-height: 8.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 0px; }

#PED-block {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: auto;
  vertical-align: middle;
  position: absolute;
  top: 17rem;
  left: 5.1rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 7rem;
  line-height: 8.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 0px; }

#SFEDU-main-block {
  position: absolute;
  border-radius: 2rem 0rem 0rem 2rem;
  cursor: pointer; }

#POLI-main-block {
  position: absolute;
  left: 130rem;
  cursor: pointer; }

#PED-main-block {
  position: absolute;
  left: 148rem;
  border-radius: 0rem 2rem 2rem 0rem;
  cursor: pointer; }

#st3 {
  background: url("../img/images/bg-icib.jpg");
  background-size: 100%; }

@keyframes PoliToLeft {
  from {
    left: 130rem; }
  to {
    left: 43rem; } }
@keyframes PoliToRight {
  from {
    left: 43rem; }
  to {
    left: 130rem; } }
@keyframes PedToLeft {
  from {
    left: 148rem; }
  to {
    left: 61rem; } }
@keyframes PedToRight {
  from {
    left: 61rem; }
  to {
    left: 148rem; } }
#header-main {
  /*background: red;*/
  display: flex;
  min-height: 1vh;
  /*margin: 0 auto;*/
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  /*background: red;*/
  width: 140rem;
  padding-bottom: 2rem; }
  @media (max-width: 500px) {
    #header-main {
      width: 180rem; } }

#logo {
  /*background-color: green;*/
  cursor: pointer;
  top: -2rem;
  left: 34rem;
  width: 12rem;
  height: 12rem;
  padding-right: 10rem;
  margin-left: 5rem; }
  @media (max-width: 500px) {
    #logo {
      margin-left: 0rem; } }

#name {
  /*background-color: red;*/
  width: 25rem;
  height: 1.8rem;
  left: 51.2rem;
  top: 3rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  /* Accent */
  color: #D1A954; }
  @media (max-width: 500px) {
    #name {
      font-size: 3rem; } }

#IT {
  width: 25rem;
  height: 1.8rem;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000; }
  @media (max-width: 500px) {
    #IT {
      font-size: 3rem;
      width: 30rem; } }

#IT:hover {
  text-decoration: underline; }

#study {
  width: 25rem;
  height: 1.8rem;
  left: 115.3rem;
  top: 30px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000; }
  @media (max-width: 500px) {
    #study {
      font-size: 3rem;
      width: 30rem; } }

#study:hover {
  text-decoration: underline; }

#history {
  width: 25rem;
  left: 101.3rem;
  top: 3rem;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000; }
  @media (max-width: 500px) {
    #history {
      font-size: 3rem;
      width: 30rem; } }

#history:hover {
  text-decoration: underline; }

#sights {
  width: 25rem;
  height: 1.8rem;
  padding-right: 10rem;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000; }
  @media (max-width: 500px) {
    #sights {
      font-size: 3rem;
      width: 55rem;
      padding-right: 0rem; } }

#sights:hover {
  text-decoration: underline; }

.set-m {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem; }
  @media (max-width: 500px) {
    .set-m {
      padding-left: 1rem;
      padding-right: 0rem; } }

#SFEDU {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /*margin: 0 auto;*/
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  /*background: red;*/ }

.sf {
  /*background: red;*/
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 145%;
  /* or 52px */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000; }

.sf1 {
  text-align: center;
  width: 180rem;
  margin-left: auto;
  margin-right: auto; }

.sf2 {
  text-align: center;
  width: 180rem;
  margin-left: auto;
  margin-right: auto; }

.selection-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 176.7rem;
  height: 77.1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.3rem;
  background: #1BA86B;
  background-size: 100%;
  background-repeat: no-repeat; }

#ICTIB {
  background: url("../img/images/bg-ictib3.jpg");
  background-size: 100%;
  background-position-y: -60rem;
  background-repeat: no-repeat;
}

.selection-block-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 176.7rem;
  height: 26.5rem;
  background: rgba(209, 169, 84, 0.9); }

.selection-block-bg-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 167.5rem;
  height: 20rem;
  border: 1rem solid rgba(255, 255, 255, 0.5); }

.selection-block-bg-box a {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15rem;
  line-height: 18.3rem;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF; }

.sf-2 {
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 8rem;
  line-height: 145%;
  /* or 116px */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000; }

.poly {
  display: flex;
  flex-direction: column;
  width: 126.8rem;
  height: 77.1rem;
  background: url("../img/images/Polygon 1.svg");
  background-size: 126.8rem 77.1rem; }

.poly-fr {
  display: flex;
  flex-direction: row; }

#tx1 {
  height: 5.5rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 5.5rem;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 4rem;
  margin-top: 9.8rem; }

#tx2 {
  height: 12.8rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15rem;
  line-height: 18.3rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 1.1rem;
  margin-top: 2.5rem; }

#tx3 {
  height: 5.5rem;
  margin-top: 9.8rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 5.5rem;
  /* identical to box height */
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF; }

#tx4 {
  height: 5.5rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 5.5rem;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 4rem;
  margin-top: 2.7rem; }

#tx5 {
  height: 12.8rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15rem;
  line-height: 18.3rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 4rem;
  margin-top: 2.7rem; }

#tx6 {
  height: 5.5rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 5.5rem;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 10.1rem; }

.set-pos-sl {
  /*background: #4ac1f7 ;*/
  max-width: 180rem;
  height: 140rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem; }

.carousel {
  width: 180rem;
  height: 55rem;
  /* background: red;*/
  margin-right: auto;
  margin-left: auto; }

.carousel img {
  width: 40rem;
  height: 40rem;
  /*top: 0px;*/
  /*padding-right: 130px;*/
  /*margin-right: 130px;*/
  /* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
  display: block; }

.set-pos-bt {
  width: 60rem;
  margin-top: 4rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  /*background: #5E5694;*/ }

.button-next {
  height: 8rem;
  width: 6rem;
  color: black;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto; }

.button-prev {
  height: 8rem;
  width: 6rem;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto; }

.button-prev img {
  width: 5.2rem;
  height: 9.5rem; }

.button-next img {
  width: 5.2rem;
  height: 9.5rem; }

.bg-block {
  z-index: 99999;
  width: 33rem;
  height: 33rem;
  border: 0.4rem solid #E0AB4D;
  border-radius: 0.9rem; }
  @media (max-width: 500px) {
    .bg-block {
      width: 40rem;
      height: 40rem; } }

.bg-txt {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 33rem;
  height: 11.9rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 4.9rem;
  text-align: center;
  color: #000000; }
  @media (max-width: 500px) {
    .bg-txt {
      width: 40rem;
      height: 40rem;
      font-size: 3.5rem; } }

.bg-block img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 16rem;
  height: 18rem;
  display: block; }

.gallery {
  /*display: flex;*/
  /*flex-direction: row;*/
  overflow: hidden;
  /*background: #1BA86B;*/ }

.gallery ul {
  /*position: absolute;*/
  height: 45rem;
  width: 999.9rem;
  /*margin: 0;*/
  /*padding: 30px;*/
  list-style: none;
  /*background-color: red;*/
  transition: margin-left 250ms;
  /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
  font-size: 0; }

.gallery li {
  width: 33rem;
  height: 33rem;
  /*margin-right: auto;
  margin-left: auto;*/
  margin-right: 13rem;
  cursor: pointer;
  display: inline-block; }
  @media (max-width: 500px) {
    .gallery li {
      width: 50rem;
      height: 50rem;
      margin-right: 7rem; } }


#fix {
  margin-left: 4rem; }
  @media (max-width: 500px) {
    #fix {
      margin-left: -7rem; } }

.all-in {
  margin-top: 10rem;
  width: 180rem;
  height: 88rem;
  /*background: red;*/ }

.cafedra {
  width: 180rem;
  height: 79rem;
  display: none;
  /* background: red;*/ }

.cafedra img {
  width: 14rem;
  height: 14rem;
  margin-left: auto;
  margin-right: auto; }

.cfd-h {
  width: 108rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  line-height: 5rem;
  text-decoration: none;
  /* identical to box height */
  text-align: center;
  color: #000000; }
  @media (max-width: 500px) {
    .cfd-h {
      width: 150rem;
      font-size: 5rem;
      line-height: 5rem; } }

.cfd-a {
  width: 111rem;
  height: 49rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4rem;
  text-align: center;
  text-decoration: none;
  cursor: none;
  color: #000000; }
  @media (max-width: 500px) {
    .cfd-a {
      width: 150rem;
      font-size: 5rem; } }

.graph {
  /*position: relative;*/
  display: flex;
  flex-direction: row;
  width: 160rem;
  height: 65rem;
  /*background: red;*/
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto; }

.ICTIB-SVG {
  margin-top: auto;
  margin-bottom: auto;
  width: 23rem;
  height: 35rem; }

.ar1 {
  position: absolute;
  left: 25rem;
  margin-top: 5rem;
  width: 50.3rem;
  height: 15rem; }

.ar2 {
  position: absolute;
  left: 40rem;
  margin-top: 30rem;
  width: 84.8rem;
  height: 10rem; }

.ar3 {
  position: absolute;
  left: 25rem;
  margin-top: 50rem;
  width: 55.7rem;
  height: 15.7rem; }

.bx {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60rem;
  height: 20rem;
  /* background: red;*/ }

#bx-1 {
  margin-top: 10rem;
  left: 70rem; }

#bx-2 {
  left: 120rem;
  margin-top: 25rem; }

#bx-3 {
  left: 80rem;
  margin-top: 50rem; }

.more {
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  height: 10rem;
  width: 45rem;
  font-size: 6.5rem;
  color: #FFFFFF;
  background-color: #E0AB4D;
  cursor: pointer;
  padding-top: 2rem;
  margin-bottom: 5rem;
  border: 0.4rem solid #E0AB4D;
  transition: 0.5s; }

.more:hover {
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  height: 10rem;
  width: 45rem;
  font-size: 6.5rem;
  color: black;
  background-color: white;
  cursor: pointer;
  padding-top: 2rem;
  margin-bottom: 5rem;
  border: 0.4rem solid #E0AB4D;
  border-radius: 10px;
  transition: 0.5s; }

.mm {
  width: 42rem;
  /*background: red;*/
  margin-left: auto;
  margin-right: auto;
  font-size: 6rem;
  font-family: 'Montserrat'; }

.big-a {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  line-height: 6.1rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000; }

.bord {
  width: 29.5rem;
  height: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  background: #E0AB4D;
  border-radius: 2rem; }

.small-a {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.9rem;
  text-align: center;
  color: #000000; }

#b2 {
  width: 35rem; }

#b3 {
  width: 51.1rem; }

#IUS {
  margin-top: 10rem;
  background: url("../img/images/ictis-first.svg");
  background-size: 100%; }

.set-pos-ius {
  width: 180rem;
  height: 90rem;
  margin-top: 20rem;
  margin-left: auto;
  margin-right: auto; }

.round {
  width: 62rem;
  height: 62rem;
  margin-top: 10rem;
  /*background: rebeccapurple;*/
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  border: 0.5rem dashed #000000;
  justify-content: center; }

.rr {
  width: 32rem;
  height: 15rem;
  /*background: red;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 23rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10rem;
  line-height: 145%;
  /* or 145px */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #E0AB4D; }

.ius-txt {
  position: absolute;
  width: 56rem;
  height: 18rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 3rem;
  line-height: 145%;
  /* or 44px */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  /*background: red;*/ }

#i1 {
  margin-top: -70rem; }

#i2 {
  margin-top: -10rem; }

#i3 {
  margin-top: 10rem;
  left: 100rem; }

#i4 {
  margin-top: -15rem;
  left: 130rem; }

#i5 {
  margin-top: -75rem;
  left: 120rem; }

#INEP {
  margin-top: 10rem;
  background: url("../img/images/bg-inep.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -50rem;
}

.INEP-MAIN {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  width: 176.7rem;
  height: 70rem; }

#inep-lg {
  width: 33rem;
  height: 33rem;
  /*padding-right: 20rem;*/ }

.inep-block {
  width: 33rem;
  height: 33rem;
  border: 0.4rem solid #E0AB4D;
  margin-left: 20rem;
  align-items: center; }

.inep-block img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 20rem;
  height: 20rem;
  /* margin-left: auto;
   margin-right: auto;*/ }

.inep-block a {
  margin-top: 3rem;
  display: block;
  text-align: center;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 3rem; }

#nm {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 150rem; }

#nm2 {
  margin-top: 5rem;
  width: 150rem;
  height: 30rem;
  margin-right: auto;
  margin-left: auto;
  font-size: 4rem;
  line-height: 7rem;
  font-family: 'Montserrat'; }

#IRTSU {
  margin-top: 10rem;
  background: url("../img/images/bg-icib3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -20rem;
}

.set-pos-irtsu {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  width: 176.7rem;
  height: 100rem;
  margin-right: auto;
  margin-left: auto; }

#st {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 50rem;
  height: 90rem; }

#st2 {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 100rem;
  height: 85rem;
  margin-top: 5rem;
  /* background: green;*/ }

.irtsu-block {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  width: 23rem;
  height: 23rem;
  border: 0.4rem solid #E0AB4D;
  text-align: center; }

.irtsu-block a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 5rem;
  text-align: center;
  color: #E0AB4D; }

.irtsu-block img {
  display: block;
  width: 15rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto; }

#big-txt {
  width: 80rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5rem;
  font-size: 8rem;
  font-family: 'Montserrat';
  font-style: normal;
  line-height: 6.1rem;
  text-align: center;
  color: black; }

#small-txt {
  width: 80rem;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  margin-top: 5rem;
  font-size: 5rem;
  font-family: 'Montserrat';
  font-style: normal;
  line-height: 6.1rem;
  color: black; }

.last-block {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  width: 180rem;
  height: 14rem;
  margin-top: 2rem; }

.last-line {
  width: 100%;
  height: 0.5rem;
  background-color: #D1A954; }

.first {
  margin-right: auto;
  margin-left: auto;
  width: 30rem;
  height: 2rem;
  margin-top: 6rem;
  /* p */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 135%;
  color: #000000; }

.second {
  margin-right: auto;
  margin-left: auto;
  width: 40rem;
  height: 2rem;
  text-align: center;
  margin-top: 6rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 135%;
  color: #000000; }

.last-picture-down {
  margin-right: auto;
  margin-left: auto;
  width: 30rem;
  height: 15rem; }

#POLITEH {
  background: url("../img/images/DGTU.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#RINH {
  background: url("../img/images/PED.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

#POLI {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /*margin: 0 auto;*/
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  /*background: red;*/ }

#PED {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /*margin: 0 auto;*/
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  /*background: red;*/ }

.abount-block {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 177rem;
  height: 100rem;
  /*background: red;*/ }

.bg-a {
  margin-top: 2rem;
  width: 100rem;
  text-align: center;
  height: 7rem;
  margin-left: auto;
  margin-right: auto;
  /*background: gold;*/
  align-items: center;
  font-size: 5rem;
  font-weight: 400;
  font-family: 'Montserrat'; }

.sm-a {
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
  width: 100rem;
  height: 60rem;
  /*background: #4ac1f7;*/
  font-family: 'Montserrat';
  font-size: 3.3rem;
  margin-top: 5rem; }

/*# sourceMappingURL=test.css.map */
