html{
    width: 100%;
    max-width: 100%;
    zoom: 90%;
}

body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    height: 10187px;
    background: #FFFFFF;
    /*background-color: grey;*/
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('woff');
    }
    
    @font-face {
    font-family: 'Bitum';
    src: url('fonts/bitum/Bitum.ttf') format('woff');
    }
    
    @font-face {
    font-family: 'Object Sans';
    src: url('fonts/PP Object Sans/PPObjectSans-Heavy.otf') format('woff');
    }
    
    /*@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter/Inter.ttf') format('woff');
    }*/

#first-video{
    position:absolute;
    top:120px;
    left:300px;
    height:600px;
    width:1300px;
}

/* шапка сайта */
#header-main{
    z-index: 99999;
    position: absolute;
    top: 20px;
    left: 60px;
    /*left: 0px;*/
/*background-color: grey;*/
/*background-color: white;*/
height: 80px;
width: 90%;
/*width: 100%;*/


}
#logo{
    position: absolute;
    /*background-color: green;*/
    cursor:pointer;
    top: -10px;
    left: 340px;
    width: 100px;
    height: 100px;
}
#name{
    /*background-color: red;*/
    position: absolute;
    width: 172.45px;
    height: 18.15px;
    left: 512.03px;
    top: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* Accent */
    cursor: default;
    color: #D1A954;
}
#IT{
    position: absolute;
    width: 123.26px;
    height: 18.15px;
    left: 1371.94px;
    top: 30px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000000;
}
#IT:hover{
    text-decoration: underline;
}
#study{
    position: absolute;
    width: 136.38px;
    height: 18.15px;
    left: 1153.16px;
    top: 30px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000000;
}
#study:hover{
    text-decoration: underline;
}
#history{
    position: absolute;
    width: 13680 18.15px;
    left: 1013.16px;
    top: 30px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000000;
}
#history:hover{
    text-decoration: underline;
}
#sights{

    position: absolute;
    width: 244.58px;
    height: 18.15px;
    left: 700.66px;
    top: 30px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000000;
}
#sights:hover{
    text-decoration:underline;
}
#main-menu{

    position: absolute;
    width: 99.19px;
    height: 32.9px;
    left: 634px;
    top: 22px;
    cursor: pointer;
    border: 1px solid rgba(209, 169, 84, 0.9);
    box-sizing: border-box;
}
#main-menu:hover{

    position: absolute;
    width: 99.19px;
    height: 32.9px;
    left: 634px;
    top: 22px;
    cursor: pointer;
    border: 1px solid rgba(209, 169, 84, 0.9);
    box-sizing: border-box;
    text-decoration: underline;
}
#ext{
    position: absolute;
    width: 158.94px;
    height: 161px;
    left: 284px;
    top: 64px;
}
#menu{
    cursor: pointer;
    position: absolute;
    width: 820.54px;
    height: 32.9px;
    left: 634.67px;
    top: 64px;
}



/*scrollbar*/
body::-webkit-scrollbar {
    width: 20px;               /* ширина scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: #faf0e2;        /* цвет дорожки */
  }
  body::-webkit-scrollbar-track {
    margin-top: 0px; /* отступ от начала страницы*/
    margin-bottom: px; /*отступ от конца страницы*/
}
  body::-webkit-scrollbar-thumb {
    background-color: #D1A954;    /* цвет плашки */
    border-radius: 10px;       /* закругления плашки */
  }

#line-bef{
    position:absolute;
    width:110%;
    background-color: #D1A954;
    height:10px;
    top:1220px;
}
#line-bef-2{
    position:absolute;
    width:110%;
    background-color: #D1A954;
    height:10px;
    top:10430px;
}
#an_h2{
    position:absolute;
    left:300px;
    top:750px;
    font-size:64px;
    font-weight:normal;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 135%;
    /* or 86px */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000000;

}
#af_an_h2{
    position:absolute;
    width:1300px;
    left:300px;
    font-size:30px;
    color:#616161;
    top:835px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    line-height: 135%;
    /* or 49px */


    color: #616161;
}

#main_h2{
    position:absolute;
    top:1100px;
    margin:auto;
    left:300px;
    font-family: "Montserrat";
    font-size:64px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 135%;
    /* or 86px */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000000;
}


/*oggetto*/
#oggetto{
    position:absolute;
    width:110%;
    height:940px;
    top:1230px;
    background-color:#000000;
}
#main-logo{
    position:absolute;
    margin:auto;
    width:1510px;
    height:320px;
    left:205px;
    top:-40px;
}
#oggetto p{
    font-size:33px;
    color:#CCCCCC;
    width:400px;
    height:740px;
}
#og-1{
    position:absolute;
    top:280px;
    width:600px;
    height: 200px;
    left:350px;
}
#og-2{
    position:absolute;
    top:280px;
    width:600px;
    left:1250px;

}
#og-3{
    position:absolute;
    top:500px;
    width:600px;
    height: 100px;
    left:350px;

}
#og-4{
    position: absolute;
    top:500px;
    width:600px;
    height: 100px;
    left:1250px;
}
.og-icon{
    position:absolute;
    top:20px;
    height:94px;
    width:94px;
    left:-150px;
}


#oggetto button{
    width:400px;
    height:80px;
    left:760px;
    top:820px;
    position:absolute;
    padding: 10px 10px 20px 20px;
    background-color: #FFED00;
    font-size:33px;
    border-radius:10px;
}
#oggetto button:hover{
    background-color:#FFFF00;
      transition: 0.7s;
}
#og-between{
    position:absolute;
    width:110%;
    top:2150px;
    height:220px;
    background: #000000;
    background: -webkit-linear-gradient(#000000, #101D23);
    background:    -moz-linear-gradient(#000000, #101D23);
    background:         linear-gradient(#000000, #101D23);
}


/*dunice*/
#dunice{
    position:absolute;
    width:110%;
    top:2370px;
    background-color: #101D23;
    height:1140px;
}
#logo-d{
    position:absolute;
    top:30px;
    left:167px;
    width:669px;
    height:200px;
}
#side-photo{
    position:absolute;
    height:920px;
    width:1040px;
    left:1006px;
}
#dunice h3{
    color:#009C4F;
    position:absolute;
    font-size:78px;
    top:270px;
    width:616px;
    height:129px;
    font-family: 'Bitum';
        font-style: normal;
        font-weight: 400;
        font-size: 78px;
        line-height: 101px;
        color: #009C4F;
        left:210px;
}
#dunice p{
    position: absolute;
    font-family:'Montserrat';
    padding-right: 0%;
    width:900px;
    height:775px;
    font-size:53px;
    line-height:75px;
    font-weight:400;
    top:380px;
    color:#FFFFFF;
    font-family: 'Bitum';
        font-style: normal;
        font-weight: 400;
        font-size: 58px;
        line-height: 75px;
        color: #FFFFFF;
        left:210px;
}
#dunice button{
    position:absolute;
    top:990px;
    left:663px;
    width:505px;
    height:120px;
    border: 8px solid #50A261;
    font-size:70px;
    padding-top:-15px;
    padding-left:20px;
    color:#FFFFFF;
    background-color:#101D23;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 67px;
    line-height: 101px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
#af-dunice{
    position:absolute;
    width:110%;
    top:3510px;
    height:150px;
    background: #101D23;
    background: -webkit-linear-gradient(#101D23, #1E1E1E);
    background:    -moz-linear-gradient(#101D23, #1E1E1E);
}



#inostudio{
    position:absolute;
    width:110%;
    height:920px;
    top:3660px;
    background-color: #1E1E1E;
}
#in-logo{
    position:absolute;
    width:600px;
    height:220px;
    left:167px;
    top:30px;
}
#in-img{
    position:relative;
    font-size:60px;
    left:1090px;
    top:100px;
    width:500px;
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 50px;
        line-height: 145%;
        /* or 99px */

        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #000000;
}
#f-in{
    position:absolute;
    left:870px;
    height:600px;
    width:850px;
    top:-30px;
}
#in-p{
    position:absolute;
    font-size:77px;
    width:700px;
    top:290px;
    left:150px;
    line-height:98px;
    color:#FFFFFF;
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 60px;
        line-height: 145%;
        /* or 99px */

        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #FFFFFF;
        left: 210px
}
#inostudio button{
    position:absolute;
    top:650px;
    left:1050px;
    width:470px;
    height:120px;
    border-radius:10px;
    font-size:60px;
    padding-top:-15px;
    color:#FFFFFF;
    background-color:#E4003A;
}
#inostudio button:hover{
    border: 10px solid white;
}
#after-in{
    position:absolute;
    width:110%;
    top:4510px;
    height:150px;
    background: #1E1E1E;
    background: -webkit-linear-gradient(#1E1E1E, #282A32);
    background:    -moz-linear-gradient(#1E1E1E, #282A32);
}



#umbrella{
    position:absolute;
    width:110%;
    top:4660px;
    height:840px;
}
#umbrella img{
    position:absolute;
    width:441px;
    height:86px;
    left:216px;
    top:35px;
}
#um-head{
    position:absolute;
    background-color: #282A32;
    width:110%;
    height:180px;
    top:0px;
}
#um-main{
    position:absolute;
    width:110%;
    height:780px;
    background-color:#FFFFFF;
    top:180px;
}
#f-line{
    width:140px;
    height:13px;
    position:absolute;
    left:215px;
    top:30px;
    background-color: #0050FF;
    border:none;
}
#h2-m{
    position:absolute;
    width:1025px;
    height:73px;
    left:215px;
    font-size:50px;
    top:40px;
}
#s-line{
    width:230px;
    height:13px;
    position:absolute;
    left:330px;
    top:190px;
    background-color: #0050FF;
    border:none;
}
#h2-else{
    position:absolute;
    font-size:50px;
    top:200px;
    width:501px;
    height:70px;
    left:215px;
}
#fact-1{
    position:absolute;
    width:350px;
    top:300px;
    left:215px;
    height:183px;
}
#fact-1 h3{
    font-size:40px;
    position:absolute;
    top:20px;
}
.fact-p{
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-align: left;
}
#fact-1 p{
    position:absolute;
    top:100px;
}
#fact-2{
    position:absolute;
    width:350px;
    top:300px;
    height:183px;
    left:770px;
}
#fact-2 h3{
    font-size:40px;
    position:absolute;
    top:20px;
}
#fact-2 p{
    position:absolute;
    top:100px;
}
#fact-3{
    position:absolute;
    width:350px;
    top:300px;
    left:1320px;
    height:183px;
}
#fact-3 h3{
    font-size:40px;
    position:absolute;
    top:20px;
}
#fact-3 p{
    position:absolute;
    top:100px;
}
#umbrella button{
    position:absolute;
    width:506px;
    height:95px;
    margin:auto;
    top:730px;
    left:700px;
    background-color: #282A32;
    color: #FFFFFF;
    font-size:55px;
}
#umbrella button:hover{
    background-color:#0050FF;
    color: white;
}
#af-um{
    position:absolute;
    width:110%;
    top:5520px;
    height:180px;
    background: #FFFFFF;
    background: -webkit-linear-gradient(#FFFFFF, #201360);
    background:    -moz-linear-gradient(#FFFFFF, #201360);
}


#alpaca{
    position:absolute;
    width:110%;
    background-color: #201360;
    height:1000px;
    top:5670px;
}
#alpaca h2{
    position:absolute;
    width:500px;
    height:200px;
    left:330px;
    font-size:105px;
    color:#F7EBBC;
    font-weight:600;
    top:80px;
}
#alpaca h3{
    position:absolute;
    font-size:42px;
    color:#F7EBBC;
    width:229px;
    height:51px;
    left:480px;
    top:200px;
}
#alpaca p{
    position:absolute;
    text-align:center;
    left:650px;
    width:500px;
    height:327px;
    font-size:50px;
    color:#F7EBBC;
    top:300px;
}
#orange{
    position:absolute;
    width:527px;
    height:96px;
    background-color: #FFA800;
    left:303px;
    top:750px;
    border-radius:50px;
    border:none;
    font-size:50px;
}
#blue{
    position:absolute;
    width:527px;
    height:96px;
    background-color: #3892ED;
    color:#201360;
    left:577px;
    top:850px;
    border-radius:50px;
    border:none;
    font-size:50px;
    z-index: 999;
}
#pol-1{
    position:absolute;
    width:195px;
    height:463px;
    left:0px;
    top:200px;
}
#pol-2{
    position:absolute;
    width:765px;
    height:434px;
    left:1232px;
    top:102px;
}
#pol-3{
    position:absolute;
    top:67px;
    width:900px;
    height:234px;
    right:-80px;
}
#af-alpaca{
    position:absolute;
    width:110%;
    top:6590px;
    height:180px;
    background: #201360;
    background: -webkit-linear-gradient(#201360, #191C1F);
    background:    -moz-linear-gradient(#201360, #191C1F);
}



#justice{
    position:absolute;
    width:110%;
    height:1000px;
    top:6770px;
}
#jus-head{
    position:absolute;
    width:110%;
    background-color: #191C1F;
    height:221px;
}
#jus-main{
    position:absolute;
    background-color:#F9F9FB;
    width:110%;
    top:221px;
    height:779px;
}
#jus-head img{
    position:absolute;
    top:40px;
    width:486px;
    height:136px;
    left:260px;
}
#back{
    position:relative;
    top:50px;
    left:907px;
    width:750px;
    height:700px;
}
#justice h2{
    position:absolute;
    top:200px;
    font-size:79px;
    font-weight:600;
    left:220px;
}
.j-block{
    position:absolute;
    width:317px;
    height:302px;
    top:120px;
    left:1012px;
    background-color:#FFFFFF;
    border-radius:18px;
}
.j-block h3{
    position:absolute;
    top:70px;
    left:20px;
    font-size:30px;
    font-weight:600;
}
.j-block p{
    position:absolute;
    font-size:25px;
    left:20px;
    top: 120px;
}
#f-block{
    top:70px;
    left:960px;
}
#s-block{
    top:70px;
    left:1380px;
}
#t-block{
    top:420px;
    left:960px;
}
#fo-block{
    top:420px;
    left:1380px;
}
#justice button{
    position:absolute;
    top:550px;
    left:320px;
    width:256px;
    height:82px;
    background-color:#F9F9FB;
    border-radius: 43px;
    border-color:#3978F4;
    color:#3978F4;
    font-size:35px;
    font-weight:500;
}
#justice button:hover{
    text-decoration-color: #3978F4;
}
.point{
    position:absolute;
    left:20px;
    top:20px;
	width: 40px;
	height: 40px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#f{
    background-color: #FCF0DE;
}
#s{
    background-color: #DAE1F7;
}
#t{
    background-color: #FCDEF0;
}
#fo{
    background-color:  #DEFCE0;
}
#af-jus{
    position:absolute;
    width:110%;
    top:7770px;
    height:180px;
    background: #F9F9FB;
    background: -webkit-linear-gradient(#F9F9FB, #FFFFFF);
    background:    -moz-linear-gradient(#F9F9FB, #FFFFFF);
}


#exceed{
    position:absolute;
    height:1300px;
    width:110%;
    background-color: #FFFFFF;
    top:7950px;
}
#ex-logo{
    position:absolute;
    top:20px;
    width:581px;
    height:99px;
    left:229px;
}
#ex-side{
    position:absolute;
    width:517px;
    height:695px;
    top:0px;
    left:1200px;
}
#exceed h2{
    position:absolute;
    font-size:61px;
    font-weight:600;
    width:708px;
    height:87px;
    left:230px;
    top:170px;
    font-family: 'Montserrat';
}
#ex-p{
    position:absolute;
    width:723px;
    height:257px;
    top:290px;
    font-size:45px;
    left:230px;
    font-family: 'Montserrat';
}
.exceed-block{
    width:240px;
    height:287px;
    border-radius: 12px;
    border: 3px solid #F35F51;
}
.exceed-block img{
    position:absolute;
    top:25px;
    left:94px;
    width:42px;
    height:42px;
}
.exceed-block p{
    position:absolute;
    top:115px;
    text-align:center;
    font-size:20px;
    width:214px;
    left:10px;
}
#ex-first{
    position:absolute;
    top:780px;
    left:150px;
}
#ex-first p{
    top:95px;
}
#ex-second{
    position:absolute;
    top:780px;
    left:490px;
}
#ex-second p{
    top:90px;
    width:214px;
}
#ex-third{
    position:absolute;
    top:780px;
    left:830px;
}
#ex-third p{
    top:95px;
}
#ex-fourth{
    position:absolute;
    top:780px;
    left:1170px;
}
#ex-fourth p{
    top:85px;
}
#ex-fifth{
    position:absolute;
    top:780px;
    left:1510px;
}
#ex-fifth p{
    top:80px;
}
#exceed button{
    position:absolute;
    width:357px;
    height:71px;
    color:#FFFFFF;
    background-color: #F35F51;
    border-radius: 8px;
    border:none;
    font-size:36px;
    top:1170px;
    left:760px;
}
#exceed button:hover{
    transition: 0.7s;
    background-color:#243A7E;
    color:#F35F51;
}
#af-exceed{
    position:absolute;
    width:110%;
    top:9250px;
    height:180px;
    background: #FFFFFF;
    background: -webkit-linear-gradient(#FFFFFF, #252B2E);
    background:    -moz-linear-gradient(#FFFFFF, #252B2E);
}



#lachestry{
    position:absolute;
    top:9430px;
    height:1000px;
    width:110%;
    background-color: #252B2E;
}
#lac-name{
    position:absolute;
    top:100px;
    width:350px;
    height:45px;
    left:215px;
}
#lac-logo{
    position:absolute;
    top:80px;
    width:75px;
    height:75px;
    left:585px;
}
#lac-h2{
    position:absolute;
    left:130px;
    font-size:96px;
    font-family: 'Josefin Sans';
    top:220px;
    color:#FFFFFF;
}
#under-h2{
    position:absolute;
    color:#FFFFFF;
    font-size:40px;
    font-family: Montserrat;
    width:726px;
    height:294px;
    left:130px;
    top:370px;
}
.side-inf{
    width:700px;
    height:100px;
}
.side-inf p{
    position:absolute;
    color:#FFFFFF;
    font-size:38px;
    font-family: Montserrat;
    top:5px;
}
#first-side-inf{
    position:absolute;
    left:1100px;
    top:360px;
}
#second-side-inf{
    position:absolute;
    left:1100px;
    top:560px;
}
.lac-circle{
    position:absolute;
    top:43px;
    background-color: #1BA86B;
    position:absolute;
	width: 41px;
    left:-80px;
	height: 41px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#lachestry button{
    position:absolute;
    top:820px;
    left:700px;
    width:484px;
    height:124px;
    background-color: #252B2E;
    color:#1BA86B;
    font-size:50px;
    font-weight:300;
    border: 3px solid #1BA86B;
    border-radius: 45px;
}
#lachestry button:hover{
    transition: 0.7s;
    background-color: #1BA86B;
    color:#FFFFFF;
}


  /* copyright и т.п. */
#last-block{
    position: absolute;
    width: 1900px;
    height: 137px;
    left: 0px;
    top: 10400px;
    margin-top:20px;
}

#first{
    position: absolute;
    width: 319px;
    height: 15px;
    left: 360px;
    top: 75px;

    /* p */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 135%;


    color: #000000;
}

#second{
    position: absolute;
    width: 281px;
    height: 15px;
    left: 1290px;
    top: 80px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 135%;

    text-align: right;

    color: #000000;
}

#third{
    position: absolute;
    width: 261px;
    height: 15px;
    left: 1285px;
    top: 75px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 135%;

    text-align: center;
    text-decoration:none;

    color: #000000;
}

#last-picture{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 740px;
    top: -20px;
}
