html{
    position:absolute;
    width:1010px;
    overflow-x:hidden;
    height:100%;
}
body{
    position: relative;
    width: 1010px;
    height: 100%;
    background: #F9F7F7;
}

@font-face {
    font-family: 'Montserrat';
    src: url('..img/fonts/Montserrat-VariableFont_wght.ttf') format('woff');
}



/*шапка сайта*/
.colortxt{
    color: #E0AB4D;
}
img{
    width:auto;
    max-width:100%;
}
#header-logo{
    position:absolute;
    left:40px;
}
#header{
    height: 117px;
    width: 1050px;
    /*position: fixed;*/
    top: 0px;
    z-index: 999999;
    background-color: white;
    transition: all .3s ease;
    /*background-color: red;*/
}
#header.out {
    transform: translateY(-100%);
}


.headder-border{
    position: absolute;
    width: 229px;
    height: 65px;
    left: 180px;
    top: 29px;
    cursor: pointer;
    user-select: none;

    border: 2px solid rgba(209, 169, 84, 0.9);
    box-sizing: border-box;
    /*background-color: yellow;*/
}
.headder-border a{
    position: absolute;
    width: 182px;
    height: 34px;
    left: 23px;
    top: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 34px;
    user-select: none;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* Accent */

    color: #D1A954;
}
#hid-menu a{
    text-decoration:none;
    display:block;
    padding:30px;
    width:1050px;
    background-color:#D1A954;
    padding-left: 0%;
    padding-right: 0%;
    border-bottom: 3px solid black;
    font-family: 'Montserrat';
    text-align:center;
    font-size:45px;
    color:white;
}
#hid-menu ul{
    list-style:none;
    padding-left: 0%;
    width:1050px;
    font-family: 'Montserrat';
}
#hid-menu li{
    list-style:none;
    width:1050px;
}
#hid-menu{
    top:130px;
    width: 1050px;
    z-index:99999;
    height:480px;
    position: absolute;
    background-color: var(--black);
    display:none;
}
#drop-menu{
    position: absolute;
    left: 930px;
    top: 40px;
    width: 70px;
    /*background-color: red;*/
    height: 52px;
    cursor: pointer;
}
#ex-menu{
    position: absolute;
    left: 930px;
    top: 10px;
    cursor: pointer;
    font-size:77px;
    display:none;
}
#first-line{
    position: absolute;
    width: 57px;
    height: 3px;
    background-color: #000000;

    border: 1px solid #000000;
}
#second-line{
    position: absolute;
    width: 57px;
    height: 3px;
    top: 21px;
    background-color: #000000;

    border: 1px solid #000000;
}
#third-line{
    position: absolute;
    width: 57px;
    height: 3px;
    top: 42px;
    background-color: #000000;

    border: 1px solid #000000;
}
#main-button{
    position:absolute;
    left:10px;
    width:150px;
}
.name{
    position:absolute;
    font-size:60px;
    font-weight:400;
    left:180px;
    width:100px;
    top:30px;
    color: #D1A954;
}



/*Блок с содержанием*/
#content{
    position:absolute;
    width:915px;
    height:400px;
    top:150px;
    left:60px;
    border: 3px solid #D1A954;
    font-family: 'Montserrat';
}
#content h2{
    position:absolute;
    top:0px;
    left:265px;
    text-align:center;
    font-size:46px;
    color: #D1A954;
}
#content li{
    position:relative;
    left: 40px;
    top: 100px;
    font-size:46px;
    margin-bottom: 30px;
}
#content a{
    text-decoration:none;
    color:black;
}


/*фотография перед стрелкой*/
#before-line{
    position:absolute;
    width: 975px;
    height:230px;
    left: 45px;
    top:610px;
}


/*стрелка*/
#after-head{
    top:580px;
    position:absolute;
}
#first-p{
    left:70px;
    font-size: 35px;
    text-align: center;
    position:absolute;
    top: 325px;
    font-family: 'Montserrat';
}
#second-p{
    left:420px;
    font-size: 35px;
    text-align: center;
    position:absolute;
    top: 325px;
    font-family: 'Montserrat';
}
#third-p{
    left:695px;
    font-size: 35px;
    text-align: center;
    position:absolute;
    top: 325px;
    font-family: 'Montserrat';
}
#circle_one{
    position:absolute;
    top:293px;
    width: 45px; 
    height: 45px;
    left: 160px;
    background: #D1A954;
    border-radius: 50%;
}
#circle_two{
    position:absolute;
    top:293px;
    width: 45px; 
    height: 45px;
    left: 500px;
    background: #D1A954;
    border-radius: 50%;
}
#circle_three{
    position:absolute;
    top:293px;
    width: 45px; 
    height: 45px;
    left: 820px;
    background: #D1A954;
    border-radius: 50%;
}
#strelka{
    width: 15px;
    height: 15px;
    border-top: 8px solid #D1A954;
    border-right: 8px solid #D1A954;
    transform: rotate(45deg);
    display: inline-block;
    left:980px;
    top:295px;
    position:absolute;
}
#line{
    border-top:8px solid #D1A954;
    width:975px;
    position: absolute;
    top: 310px;
    left: 45px;
}



/*История основания города*/
#foundation h2{
    position:absolute;
    font-size:54px !important;
    left:190px;
    top:1050px;
    width: 650px;
    font-weight: normal;
    text-align:center;
    font-family: 'Montserrat';
}
#found-p1{
    position:absolute;
    width:1000px;
    height:494px;
    left:25px;
    top:1220px;
    font-size:40px;
    font-family: 'Montserrat';
}
#found-p2{
    position:absolute;
    width:1000px;
    height:494px;
    left:25px;
    top:3270px;
    font-size:40px;
    font-family: 'Montserrat';
}
#found-first-img{
    position:absolute;
    width:990px;
    left:25px;
    height:600px;
    top:2660px;
}
#found-second-img{
    position:absolute;
    width:990px;
    left:25px;
    height:600px;
    top:4920px;
}



/*дальнейшее развитие города*/
#development{
    position:absolute;
    top:5530px;
    font-family: 'Montserrat';
}
#development h2{
    position:absolute;
    font-size:54px !important;
    left:120px;
    top:15px;
    width: 800px;
    font-weight: normal;
    font-family: 'Montserrat';
    text-align:center;
}
#development p{
    position:absolute;
    width:1000px;
    height:494px;
    left:25px;
    top:165px;
    font-size:40px;
    font-family: 'Montserrat';
}
#dev-first-img{
    position:absolute;
    max-width:990px;
    width:990px;
    left:25px;
    height:600px;
    top:2440px;
}
#dev-second-img{
    position:absolute;
    max-width:990px;
    left:25px;
    height:600px;
    top:3070px;
}


/*современный Таганрог*/
#modern{
    position:absolute;
    top:9210px;
    font-family: 'Montserrat';
}
#modern h2{
    position:absolute;
    font-size:54px !important;
    left:120px;
    top:15px;
    width: 800px;
    font-weight: normal;
    text-align:center;
    font-family: 'Montserrat';
}
#modern-first-p{
    position:absolute;
    width:1000px;
    height:494px;
    left:25px;
    top:115px;
    font-size:40px;
    font-family: 'Montserrat';
}
#modern-second-p{
    position:absolute;
    width:1000px;
    height:494px;
    left:25px;
    top:1790px;
    font-size:40px;
    font-family: 'Montserrat';
}
#modern-first-img{
    position:absolute;
    max-width:990px;
    left:25px;
    height:600px;
    top:1180px;
}
#modern-second-img{
    position:absolute;
    max-width:480px;
    left:20px;
    height:800px;
    top:2520px;
}
#modern-third-img{
    position:absolute;
    max-width:480px;
    left:540px;
    height:800px;
    top:2520px;
}






/*Лого команды, vk и т.п.*/
#last-block{
    position: absolute;
    width: 1050px;
    height: 137px;
    left: 0px;
    top: 12550px;
}
#first{
    position: absolute;
    width: 319px;
    height: 15px;
    left: 120px;
    top: 65px;

    /* p */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */


    color: #000000;
}
#second{
    position: absolute;
    width: 261px;
    height: 15px;
    left: 760px;
    top: 65px;

    /* p */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */

    text-align: right;

    color: #000000;
}
#last-picture{
    position: absolute;
    width: 300px;
    height: 150px;
    left: 400px;
    top: 2px;
}