{% load static %}
<!DOCTYPE html>

<html lang = "ru">
<head>

    <meta charset = "utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "{% static 'abitura/css/reset.css' %}">
    <link rel = "stylesheet" href = "{% static 'abitura/css/test.css' %}">
    <!--<link rel = "stylesheet" href = "abit-style.scss">-->
    <link rel="shortcut icon" href="{% static 'abitura/all/images/logo.png' %}" type="image/png">
    <title>TGNentrant</title>
    <script type="text/javascript" src="flowplay/flowplayer-3.2.2.min.js"></script>

</head>

<body>


<nav id="header-main" lang="ru-RU" dir="ltr" role="navigation">
    <img id="logo" src="{% static 'abitura/all/images/logo2.svg' %} " onclick="document.location='/'">
    <div id="sights" class="set-m" onclick="document.location='attractions';">ДОСТОПРИМЕЧАТЕЛЬНОСТИ</div>
    <div id="history" class="set-m" onclick="document.location='history';">ИСТОРИЯ</div>
    <div id="study" class="set-m" onclick="document.location='abityrienty';" >ИНСТИТУТЫ</div>
    <div id="IT" class="set-m" onclick="document.location='it';" >IT-КОМПАНИИ</div>
</nav>


<div class="set-pos">
    <div id = "slider">
        <img src=" {% static 'abitura/all/images/SFedU.jpg' %}" id="SFEDU-bg-1" >
        <img src="{% static 'abitura/all/images/second_slide.png' %}" id="SFEDU-bg-2" >
        <img src="{% static 'abitura/all/images/third_slide.png' %}" id="SFEDU-bg-3" >
        <div class="sub-slider" id="SFEDU-main-block" onclick="poliToRight()">
            <div id="SFEDU-block">ЮФУ</div>
        </div>
        <div class="sub-slider" id="POLI-main-block" onclick="poliToLeft()">
            <div id="POLI-block">ДГТУ</div>
        </div>
        <div class="sub-slider" id="PED-main-block" onclick="pedToLeft()">
            <div id="PED-block">РИНХ</div>
        </div>
    </div>
</div>

<div id="SFEDU" >
    <div class="sf1"><a class="sf">ЮЖНЫЙ ФЕДЕРАЛЬНЫЙ УНИВЕРСИТЕТ</a></div>
    <div class="selection-block" id="ICTIB">
        <div class="selection-block-bg">
            <div class="selection-block-bg-box">
                <a>ИКТИБ</a>
            </div>
        </div>
    </div>


    <div class="sf2"> <a class="sf-2">ИКТИБ СЕГОДНЯ - ЭТО:</a></div>


    <div class="selection-block" id="st3">
        <div class="poly">
            <div class="poly-fr">
                <a id="tx1">БОЛЕЕ</a>
                <a id="tx2">90</a>
                <a id="tx3">ПРЕПОДАВАТЕЛЕЙ</a>
            </div>
            <div class="poly-fr">
                <a id="tx4">И НАУЧНЫХ СОТРУДНИКОВ</a>
            </div>
            <div class="poly-fr">
                <a id="tx5">11</a>
                <a id="tx6">КАФЕДР</a>
            </div>
        </div>

    </div>
    <div class="set-pos-sl">
        <div id="carousel" class="carousel">
            <div class="gallery">
                <ul>
                    <li style="margin-left: 4rem;" id="fix">
                        <div class="bg-block" onclick="cf1()">
                            <img src="{% static 'abitura/all/images/second_slider/1.svg' %}">
                            <p class="bg-txt">КАФЕДРА<br>БИТ</p>
                        </div>
                    </li>
                    <li>
                        <div class="bg-block" onclick="cf2()">
                            <img src="{% static 'abitura/all/images/second_slider/2.svg' %}">
                            <p class="bg-txt">КАФЕДРА <br>ВМ</p>
                        </div>
                    </li>
                    <li>
                        <div class="bg-block" onclick="cf3()">
                            <img src="{% static 'abitura/all/images/second_slider/3.svg' %}">
                            <p class="bg-txt">КАФЕДРА <br>ВТ</p>
                        </div>
                    </li>
                    <li>
                        <div class="bg-block" onclick="cf4()">
                            <img src="{% static 'abitura/all/images/second_slider/4.svg' %}">
                            <p class="bg-txt">КАФЕДРА<br>ИМС</p>
                        </div>
                    </li>
                    <li>
                        <div class="bg-block" onclick="cf5()">
                            <img src="{% static 'abitura/all/images/second_slider/5.svg' %}">
                            <p class="bg-txt">КАФЕДРА ИАСБ<br>им Берштейна Л.С.</p>
                        </div>
                    </li>
                    <li>
                        <div class="bg-block" onclick="cf6()">
                            <img src="{% static 'abitura/all/images/second_slider/6.svg' %}">
                            <p class="bg-txt">КАФЕДРА<br>ИБТКС</p>
                        </div>
                    </li>
                    <li>
                        <div class="bg-block" onclick="cf7()">
                            <img src="{% static 'abitura/all/images/second_slider/7.svg' %}">
                            <p class="bg-txt">КАФЕДРА<br>МОП ЭВМ</p>
                        </div>
                    </li>
                    <li>
                        <div class="bg-block" onclick="cf8()">
                            <img src="{% static 'abitura/all/images/second_slider/8.svg' %}">
                            <p class="bg-txt">КАФЕДРА<br>ПИБЖ</p>
                        </div>
                    </li>
                    <li>
                        <div class="bg-block" onclick="cf9()">
                            <img src="{% static 'abitura/all/images/second_slider/9.svg' %}">
                            <p class="bg-txt">КАФЕДРА СиПУ<br>им. Колесникова А.А.</p>
                        </div>
                    </li>
                    <li>
                        <div class="bg-block" onclick="cf10()">
                            <img src="{% static 'abitura/all/images/second_slider/10.svg' %}">
                            <p class="bg-txt">КАФЕДРА<br>САПР</p>
                        </div>
                    </li>
                    <li>
                        <div class="bg-block" onclick="cf11()">
                            <img src="{% static 'abitura/all/images/second_slider/11.svg' %}">
                            <p class="bg-txt">КАФЕДРА<br>САИТ</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="set-pos-bt">
                <div class="button-prev">
                    <img src="{% static 'abitura/all/images/Group%2037.svg' %}">
                   <!-- <svg width="52" height="95" viewBox="0 0 52 95" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 49.0449L49.5221 2.00041" stroke="black" stroke-width="5"/>
                        <line y1="-2.5" x2="66.8696" y2="-2.5" transform="matrix(0.710669 0.703526 0.710669 -0.703526 4 44)" stroke="black" stroke-width="5"/>
                    </svg>-->
                    <!--<div id="l-button-top"></div>
                    <div id="l-button-bot"></div>-->
                </div>
                <div class="button-next">
                    <img src="{% static 'abitura/all/images/Group%2038.svg' %}" style="width: 5.2rem; height: 9.5rem;">
                   <!-- <svg width="53" height="95" viewBox="0 0 53 95" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M50.0439 45.999L2.52181 93.0435" stroke="black" stroke-width="5"/>
                        <line y1="-2.5" x2="66.8696" y2="-2.5" transform="matrix(-0.710669 -0.703526 -0.710669 0.703526 48.522 51.0449)" stroke="black" stroke-width="5"/>
                    </svg>-->

                    <!--<div id="r-button-top"></div>
                    <div id="r-button-bot"></div>-->
                </div>
            </div>
            <div class="all-in">
                <div class="cafedra" id="cf1" style="display: block">
                    <img src="{% static 'abitura/all/images/second_slider/1.svg'%}">
                    <p class="cfd-h">КАФЕДРА БЕЗОПАСНОСТИ ИНФОРМАЦИОННЫХ ТЕХНОЛОГИЙ</p>
                    <p class="cfd-a">Кафедра была создана в 1996 году. На кафедре и ее подразделениях работает около 20 сотрудников. Преподаватели читают более 20 курсов для различных специальностей. Студенты принимают активное участие в научно-исследовательской деятельности по договорам с заказчиками, выступают с докладами на конференциях и семинарах </p>
                </div>
                <div class="cafedra" id="cf2">
                    <img src="{% static 'abitura/all/images/second_slider/2.svg' %}">
                    <p class="cfd-h">КАФЕДРА ВЫСШЕЙ МАТЕМАТИКИ</p>
                    <p class="cfd-a">Кафедра была открыта в 1952 году и является одной из старейших кафедр университета. Выпускники смогут успешно работать на промышленных предприятиях, принимать участие в разработках научно-исследовательских центров. Также перед выпускниками открывается возможность найти своё призвание в сфере бизнеса</p>
                </div>
                <div class="cafedra" id="cf3">
                    <img src="{% static 'abitura/all/images/second_slider/3.svg' %}">
                    <p class="cfd-h">КАФЕДРА ВЫЧИСЛИТЕЛЬНОЙ ТЕХНИКИ</p>
                    <p class="cfd-a">Кафедра является одной из ведущих в ИКТИБ. Более 50 лет на кафедре ведется подготовка высококвалифицированных специалистов. Кафедра вычислительной техники ведет активную работу со студентами в сфере научной и проектной деятельности. В данное время действуют несколько научных студенческих исследовательских групп, работающих под руководством профессоров и доцентов кафедры</p>
                </div>
                <div class="cafedra" id="cf4">
                    <img src="{% static 'abitura/all/images/second_slider/4.svg' %}">
                    <p class="cfd-h">КАФЕДРА ИНТЕЛЛЕКТУАЛЬНЫХ И МНОГОПРОЦЕССОРНЫХ СИСТЕМ</p>
                    <p class="cfd-a">Кафедра готовит ценных на рынке труда специалистов из области системного и прикладного программирования с использованием современных суперкомпьютерных технологий. В процессе обучения студенты практикуются совместно с предприятиями и конструкторскими бюро</p>
                </div>
                <div class="cafedra" id="cf5">
                    <img src="{% static 'abitura/all/images/second_slider/5.svg' %}">
                    <p class="cfd-h">КАФЕДРА ИНФОРМАЦИОННО-АНАЛИТИЧЕСКИХ СИСТЕМ БЕЗОПАСНОСТИ ИМЕНИ ПРОФЕССОРА БЕРШТЕЙНА Л.&nbsp;C.</p>
                    <p class="cfd-a">Кафедра готовит бакалавров, специализирующихся на информационной безопасности или прикладной информатике. В процессе обучения студенты кафедры получают навыки в сфере защиты информации и объектов информатизации, в области современных методов анализа болших данных, работы с ними. Выпускники смогут работать бизнес-аналитиками, экспертами в области информационной безопасности, занимать другие престижные должности</p>
                </div>
                <div class="cafedra" id="cf6">
                    <img src="{% static 'abitura/all/images/second_slider/6.svg' %}">
                    <p class="cfd-h">КАФЕДРА ИНФОРМАЦИОННОЙ БЕЗОПАСНОСТИ ТЕЛЕКОММУНИКАЦИОННЫХ СИСТЕМ</p>
                    <p class="cfd-a">Кафедра выпускает специалистов, способных обеспечить высокий уровень безопасности информации телекоммуникаций. Студенты изучат методы, средства и системы, позволяющие защищенно формировать, передавать и принимать сигналы по проводной, радио, оптической или другим системам передачи информации</p>
                </div>
                <div class="cafedra" id="cf7">
                    <img src="{% static 'abitura/all/images/second_slider/7.svg' %}">
                    <p class="cfd-h">КАФЕДРА МАТЕМАТИЧЕСКОГО ОБЕСПЕЧЕНИЯ И ПРИМЕНЕНИЯ ЭВМ</p>
                    <p class="cfd-a">Кафедра была организована в 1973 году для подготовки специалистов в области разработки ПО для различных ЭВМ. Кафедра является ведущей кафедрой ЮФУ по подготовке специалистов сферы проектирования, разработки, тестирования и администрирования программного обеспечения. Ежегодный бюджетный набор бакалавров и магистров составляет около 125 человек</p>
                </div>
                <div class="cafedra" id="cf8">
                    <img src="{% static 'abitura/all/images/second_slider/8.svg' %}">
                    <p class="cfd-h">КАФЕДРА ПСИХОЛОГИИ И БЕЗОПАСНОСТИ ЖИЗНЕДЕЯТЕЛЬНОСТИ</p>
                    <p class="cfd-a">Кафедра занимается подготовкой специалистов с профессиональным самосознанием, обучает студентов основам психологической культуры. Данная кафедра играет важную роль в обеспечении учебного процесса на факультетах ЮФУ. Сотрудники кафедры являются организаторами и активно принимают участие в социально значимых проектах</p>
                </div>
                <div class="cafedra" id="cf9">
                    <img src="{% static 'abitura/all/images/second_slider/9.svg' %}">
                    <p class="cfd-h">КАФЕДРА СИНЕРГЕТИКИ И ПРОЦЕССОВ УПРАВЛЕНИЯ ИМЕНИ ПРОФЕССОРА КОЛЕСНИКОВА А.&nbsp;A.</p>
                    <p class="cfd-a">Кафедра была организована в 2002 году. Целью кафедры является подготовка бакалавров, специалистов, магистров, кандидатов и докторов наук, обученных нелинейному мышлению, обладающих системным взглядом на мир, техносферу и общество. К ключевым направлениям можно отнести системный анализ, системную интеграцию, системный инжиниринг</p>
                </div>
                <div class="cafedra" id="cf10">
                    <img src="{% static 'abitura/all/images/second_slider/10.svg' %}">
                    <p class="cfd-h">КАФЕДРА СИСТЕМ АВТОМАТИЗИРОВАННОГО ПРОЕКТИРОВАНИЯ</p>
                    <p class="cfd-a">Кафедра обеспечивает подготовку высококвалифицированных разработчиков и пользователей ПО, направленного на решение как задач моделирования, так и ряда других целей. Основной из них является проектирование сложных автоматизированных информационных систем, печатных плат. Выпускник будет также иметь навыки работы с современными инструментальными CASE & CALS-средствами</p>
                </div>
                <div class="cafedra" id="cf11">
                    <img src="{% static 'abitura/all/images/second_slider/11.svg' %}">
                    <p class="cfd-h">КАФЕДРА СИСТЕМНОГО АНАЛИЗА И ТЕЛЕКОММУНИКАЦИЙ</p>
                    <p class="cfd-a">Основной задачей кафедры является подготовка специалистов с глубокими знаниями системной инженерии, интеграции современных программно-аппаратных решений. Выпускники будут обучены решению целого ряда задач. Среди них есть программирование, администрирование баз данных, руководство IT проектами и многие другие</p>
                </div>
            </div>
        </div>
    </div>

    <div class="graph">
        <img src="{% static 'abitura/all/images/ICTIB.svg' %}" class="ICTIB-SVG">
        <img src="{% static 'abitura/all/images/arrow_top.svg' %}" class="ar1">
        <div class="bx" id="bx-1">
            <a class="big-a">ВЕДУЩИЙ</a>
            <div class="bord"></div>
            <a class="small-a">IT-ВУЗ  ЮГА РОССИИ</a>
        </div>
        <img src="{% static 'abitura/all/images/arrow_middle.svg' %}" class="ar2">
        <div class="bx" id="bx-2">
            <a class="small-a">ПОСТОЯННЫЙ УЧАСТНИК</a>
            <div class="bord" id="b2"></div>
            <a class="big-a">WORLDSKILLS</a>
        </div>
        <img src="{% static 'abitura/all/images/arrow_bottom.svg' %}" class="ar3">
        <div class="bx" id="bx-3">
            <a class="big-a">СОТРУДНИЧЕСТВО</a>
            <div class="bord" id="b3"></div>
            <a class="small-a">С ТОПОВЫМИ IT-КОМПАНИЯМИ ТАГАНРОГА</a>
        </div>
    </div>

    <div class="more" onClick='location.href="https://ictis.sfedu.ru/"'>
        <div class="mm">ПОДРОБНЕЕ</div>
    </div>

    <div class="selection-block" id="IUS">
        <div class="selection-block-bg">
            <div class="selection-block-bg-box">
                <a>ИУЭС</a>
            </div>
        </div>
    </div>

    <div class="set-pos-ius">
        <div class="round">
            <div class="rr">ИУЭС</div>
        </div>
        <div class="ius-txt" id="i1">проектная и междисциплинарная научно-исследовательская деятельность </div>
        <div class="ius-txt" id="i2">программы сетевого обучения и академической мобильности </div>
        <div class="ius-txt" id="i3">взаимодействие науки и реального сектора экономики</div>
        <div class="ius-txt" id="i4">широкий спектр программ дополнительного образования</div>
        <div class="ius-txt" id="i5">международная аккредитация образовательных программ “ECBE” </div>
    </div>
    <div class="more" onClick='location.href="http://iues.sfedu.ru/"'>
        <div class="mm">ПОДРОБНЕЕ</div>
    </div>


    <div class="selection-block" id="INEP">
        <div class="selection-block-bg">
            <div class="selection-block-bg-box">
                <a>ИНЭП</a>
            </div>
        </div>
    </div>

    <div class="INEP-MAIN">
        <div id="nm">
            <img src="{% static 'abitura/all/images/inep-logo.svg' %}" id="inep-lg">
            <div class="inep-block">
                <img src="{% static 'abitura/all/images/first-inep-block.svg' %}">
                <a>6 КАФЕДР</a>
            </div>
            <div class="inep-block">
                <img src="{% static 'abitura/all/images/second-inep-block.svg' %}">
                <a>УЧЕНЫЙ СОВЕТ</a>
            </div>
        </div>
        <div id="nm2">Институт нанотехнологий, электроники и приборостроения был образован в 1952 году как факультет электровакуумной техники. Студенты получают знания в области физико-математической подготовки, электроники, проектирования и других сфер</div>
    </div>
    <div class="more" onClick='location.href="https://inep.sfedu.ru/"'>
        <div class="mm">ПОДРОБНЕЕ</div>
    </div>

    <div class="selection-block" id="IRTSU">
        <div class="selection-block-bg">
            <div class="selection-block-bg-box">
                <a>ИРТСУ</a>
            </div>
        </div>
    </div>

    <div class="set-pos-irtsu">
        <div id="st">
            <div class="irtsu-block">
                <img src="{% static 'abitura/all/images/irtsu-first.svg' %}">
                <a>IT-ТЕХНОЛОГИИ</a>
            </div>
            <div class="irtsu-block">
                <img src="{% static 'abitura/all/images/irtsu-second.svg' %}">
                <a>РОБОТОТЕХНИКА</a>
            </div>
            <div class="irtsu-block">
                <img src="{% static 'abitura/all/images/irtsu-third.svg' %}">
                <a>КОМУНИКАЦИЯ</a>
            </div>
        </div>
        <div id="st2">
            <div id="big-txt">ИНФОРМАЦИЯ</div>
            <div id="small-txt">ИРТСУ — это ведущий институт по подготовке специалистов в области радиотехники, электроники, робототехники и других направлений</div>
            <div class="more" onClick='location.href="https://rtf.sfedu.ru/"'>
                <div class="mm">ПОДРОБНЕЕ</div>
            </div>
        </div>
    </div>



</div>

<div id="POLI" style  = "display:none">
    <div class="sf1"><a class="sf">ПОЛИТЕХНИЧЕСКИЙ ИНСТИТУТ</a></div>
    <div class="selection-block" id="POLITEH">
        <div class="selection-block-bg">
            <div class="selection-block-bg-box">
                <a>ДГТУ</a>
            </div>
        </div>
    </div>

    <div class="abount-block">
        <div class="bg-a">ИНФОРМАЦИЯ ОБ ИНСТИТУТЕ</div>
        <div class="sm-a">Политехнический институт, входящий в состав Донского государственного технического университета, на протяжении 90 лет готовит высококвалифицированные кадры для региона и государства. В институте функционируют 4 кафедры высшего образования: «Машиностроение», «Экономика и управление», «Гуманитарные и естественно-научные дисциплины», «Автомобилестроение и сервис транспортных средств». Также институт развивает научно-исследовательскую активность, расширяет сеть партнерских взаимоотношений, дабы студенты сумели проявить себя уже в процессе обучения и быть востребованными специалистами после выпуска.</div>
        <div class="more" onClick='location.href="https://www.infotaganrog.ru/dgtu/"'>
            <div class="mm">ПОДРОБНЕЕ</div>
        </div>
    </div>
</div>

<div id="PED"  style  = "display:none">
    <div class="sf1"><a class="sf">ТАГАНРОГСКИЙ ИНСТИТУТ ИМЕНИ А.П.ЧЕХОВА</a></div>
    <div class="selection-block" id="RINH">
        <div class="selection-block-bg">
            <div class="selection-block-bg-box">
                <a>РИНХ</a>
            </div>
        </div>
    </div>

    <div class="abount-block">
        <div class="bg-a">ИНФОРМАЦИЯ ОБ ИНСТИТУТЕ</div>
        <div class="sm-a">Таганрогский институт имени А. П. Чехова – это активно развивающийся педагогический институт, главная цель которого направлена на подготовку квалифицированного сотрудника, для которого важно быть универсально образованным, эрудированным, информативным, способным вести интересные уроки, давать интересные задания. Выпускники вуза успешно работают в образовательных и социальных учреждениях не только Ростовской области, но и многих регионах Российской Федерации, возглавляют муниципальные управления образования, работают в администрациях городов и сельских поселений.</div>
        <div class="more" onClick='location.href="https://tgpi.ru/"'>
            <div class="mm">ПОДРОБНЕЕ</div>
        </div>
    </div>
</div>


<div class = "last-line"></div>
<div class="last-block" id = "sfedu-last">
    <a class="first">Copyright (с) 2022 Eclipse</a>
    <img class="last-picture-down" src="{% static 'abitura/all/images/Full_Logo.svg' %}">
    <a class="second">Telegram —     Vkontakte —     E-mail</a>
</div>


<script type = "text/javascript" src = "{% static 'abitura/all/scripts/second-slider.js' %}"></script>
<script type = "text/javascript" src = "{% static 'abitura/all/scripts/main-slider.js' %}"></script>
</body>

</html>