
<!DOCTYPE html>
<html lang = "ru">

  <!-- Bootstrap CSS (jsDelivr CDN) -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Bootstrap Bundle JS (jsDelivr CDN) -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <head>
    <meta charset = "utf-8">
    <link rel = "stylesheet" href = "/history/static/history/css/style.css" content="width=device-width">
    <link rel="shortcut icon" href="/history/static/history/img/images/logo.png" type="image/png">
    <title>history/</title>
    <script type="text/javascript" src="flowplay/flowplayer-3.2.2.min.js"></script>
    <script type="text/javascript" src = "components/slider.js"></script>
</head>

    <body>

        <nav id="header-main" lang="ru-RU" dir="ltr" role="navigation">
            <!--<div id="logo"></div>-->
            <img id="logo" src="/history/static/history/img/images/logo.png">
            <div id = "drop-menu">
                <div id="first-line"></div>
                <div id="second-line"></div>
                <div id="third-line"></div>
            </div>
            <div id="Attraction" onclick="document.location='Attraction.html';">ДОСТОПРИМЕЧАТЕЛЬНОСТИ</div>
            <div id="main-menu" onclick="document.location='main_page.html';"></div>
            <div id="url-main" onclick="document.location='main_page.html';">ГЛАВНАЯ</div>
            <div id="name">*НАЗВАНИЕ САЙТА*</div>
            <div id="reviews">IT</div>
            <div id="IT">АБИТУРИЕНТАМ</div>
        </nav>
        


        <div id = "after-head">
            <img id = "before-line" src = "/history/static/history/img/images/before-line.png">
            <div id = "strelka" style="width: 30px; height: 30px;"></div>
            <div id="circle_one"></div>
            <div id="circle_two"></div>
            <div id="circle_three"></div>
            <div id = "line">
                <!--линия под картинками-->
            </div>
            <p id = "first-p">ОСНОВАНИЕ ГОРОДА</p>
            <p id = "second-p">РАЗВИТИЕ ГОРОДА</p> 
            <p id = "third-p">СОВРЕМЕННЫЙ ТАГАНРОГ</p>
        </div>

        <div id = "founding">
            <div id = "inside-1"></div>
            <h2 id = "zag_block">ИСТОРИЯ ОСНОВАНИЯ ГОРОДА</h2>
            <img id = "founding-pic1" src = "/history/static/history/img/images/foundation-1.jpg">
            <p id = "foundation-p1">В 1696 году после успешного взятия Азова, Петр I принимает решение об усилении Российского флота на южном направлении. По его приказу начинается строительство гавани и крепости на Таганьем Роге. 
                12 сентября 1698 года Пушкарский приказ постановил:
                «Пристани морского каравана судам по осмотру и чертежу, каков прислан за рукою итальянской земли капитана Матвея Симунта, быть у Таганрога…»  Эта дата теперь официально считается днем основания Таганрога.  Крепость окружал земляной вал высотой около 8 м, ров глубиной 5 м. Общая протяженность вала составляла 3 км. Крепость обладала хорошей защитой. Многочисленные пушки и гаубицы делали ее безопасной, всего насчитывалось более 200 орудий. 
                Гавань строилась в открытом море, которое отличается своей мелководностью. Это упрощало задачу. Ширина гавани составляла 370 метров, вход в нее оборонял форт «Черепаха», построенный на искусственно созданном острове. Конструкция форта была на тот момент одной из передовых во всем мире. Также стоит отметить, что Таганрогская гавань — первая гавань, построенная на открытом море.
                
            </p>
            <img id = "founding-pic2" src = "/history/static/history/img/images/foundation-2.png">
            <p id = "foundation-p2">В честь окончания строительства, в 1709 году указом Петра I была выпущена памятная медаль. На лицевой стороне медали был изображен сам Петр, а на оборотной расположился план крепости, гавани Таганрога. Украшала медаль надпись: «За дело гавани капитану Матвею Симонову».
                Петр I долго не мог определиться, где расположить столицу России. Было два основных варианта — Таганрог и Петербург. Из-за заключения Прутского мира в 1711 году, по которому Таганрог подлежал разрушению, от столичного статуса города пришлось отказаться.
                «Как не своею рукою пишу, — сообщал Пётр Апраксину, — нужно турок удовлетворить… Таганрог разорить как можно шире, однако ж, не портя фундамента, ибо может Бог иначе совершит».  К сожалению, Таганрог был стремительно разрушен в присутствии турецких наблюдателей. Это было сделано к февралю 1712 года. Позже около тысячи солдат с пушками и припасами перебрались в поселение, сейчас известное как Старочеркасск. Азовские корабли было решено продать Турции, но они купили только 4 из них. Остальные корабли были сожжены или затоплены.                
            </p>
        </div>


        <!--Исторяи развития города-->
        <div id = "development">
            <div id = "inside-2"></div>
            <h2>ДАЛЬНЕЙШЕЕ РАЗВИТИЕ ТАГАНРОГА</h2>
            <p>
                Второе рождение Таганрога связано с именем Екатерины Второй. В ходе очередной русско-турецкой войны в 1769 году наши войска заняли Таганрог, и в короткое время город был восстановлен. Быстрому восстановлению поспособствовали оставленные нетронутыми фундаменты зданий, которые были разрушены в связи с заключением одного из мирных договоров. 
После того, как к России был присоединен Крым и часть Севастополя, Таганрог теряет свое значение города-крепости и превращается, скорее, в богатый город-порт. Рядом с городом были расположены сельскохозяйственные районы, что очень поспособствовало его экономическому росту. Несмотря на высокую конкуренция Ростова и Одессы, Таганрог играл большую роль в торговле на юге России. С того времени сохранились интересные особняки итальянских и греческих купцов. Большинство этих построек располагается в центре, который производит приятное впечатление на туристов и местных жителей. Стоит отметить, что к купцам относился и отец всемирно известного писателя А. П. Чехова. Лавка, в которой семья вела торговлю, хорошо сохранилась для своего времени, сейчас там расположен музей. 
В 1823 году строится знаменитая Каменная лестница, а уже в 1827 году открывается первый на юге России театр. Ближе к концу 19-го века Таганрог начинает частично освещаться с помощью газовых горелок. Таких фонарей было установлено более 500. 
С конца 19-го века город становится индустриальным центром. В городе появляется ряд крупных предприятий.  Во время Великой Отечественной войны в городе действовало мощное подполье, которое было описано в книге Г. Гофмана «Герои Таганрога». 
Таганрог дал России и миру немало выдающихся людей. В первую очередь, великого писателя, драматурга и гуманиста Антона Павловича Чехова. С Таганрогом также связаны имена актрисы Ф. Г. Раневской, поэта-песенника М.И. Танича, революционера П. П. Шмидта, художников К. А. Савицкого и А. К. Куинджи, писателей К. Г. Паустовского и И. Д. Василенко, дрессировщика А. А. Дурова. Таганрожцы гордятся своими талантливыми горожанами и известными гостями, сохраняют память об этих великих людях.
            </p>
            <img id ="development-1" src = "/history/static/history/img/images/block-1-mb.png">
            <img id ="development-2" src = "/history/static/history/img/images/block-2.png">
            <img id ="development-3" src = "/history/static/history/img/images/block-3.png">
            <img id ="development-4" src = "/history/static/history/img/images/block-4.png">
        </div>

        
        <!--Современный Таганрог-->
        <div id = "modern">
            <div id = "inside-3"></div>
            <h2>СОВРЕМЕННЫЙ ТАГАНРОГ</h2>
            <p id = "modern-p1">
                Улицы и невысокие дома Старого Таганрога сохранили ауру старинного русского города. Здесь можно увидеть немало зданий, выстроенных еще в позапрошлом столетии, – сегодня они являются подлинными памятниками классической провинциальной архитектуры. К слову, во многих из них разместились интересные музеи или проходят передвижные выставки. Сам старинный центр города имеет статус историко-архитектурного заповедника.
Практически у подножий зданий Старого города, на побережье Таганрогского залива, защищенном от штормов, расположились песчаные пляжи. В летнюю пору они с утра до вечера заполнены отдыхающими. На некоторых пляжах, где открыты ночные клубы и рестораны, купание и веселье продолжаются ночь напролет.
            </p>
            <img id = "modern-2" src = "/history/static/history/img/images/modern-2.png">
            <img id = "modern-3" src = "/history/static/history/img/images/modern-3.png">
            <img id = "modern-1" src = "/history/static/history/img/images/modern-1.png">
            <p id = "modern-p2">
                Город предлагает широкий спектр развлечений и познавательных экскурсий. Здесь вас ожидают морские прогулки под парусом, водные аттракционы, полеты на парашюте над морской гладью. В Таганроге вы найдете современные комфортабельные гостиницы, множество отличных ресторанов, кафе, лучшие из которых расположились в его историческом центре и на побережье, а также колоритные южные базары, где по очень привлекательным ценам продаются сочные фрукты, овощи, свежие, копченые, вяленые дары моря.
            </p>
        </div>
        

        <div id="welcome">i
            <img id="w-logo" src="/history/static/history/img/mages/logo.png">
            <img id="w-f1" src="/history/static/history/img/images/f6.png" class="wid-f">
            <img id="w-f2" src="/history/static/history/img/images/f7.png" class="wid-f">
            <img id="w-f3" src="/history/static/history/img/images/f8.png" class="wid-f">
            <img id="w-f4" src="/history/static/history/img/images/f9.png"  class="wid-f">
            <img id="w-f5" src="/history/static/history/img/images/f10.png"  class="wid-f">
            <img id="w-f6" src="/history/static/history/img/images/f11.png" class="w-f" class="wid-f">
        </div>
        
        <div id="last-block">
            <a id="first">Copyright (с) 2022 Eclipse</a>
            <a id="second">Telegram —     Vkontakte —     E-mail</a>
            <br>
            <a href="mailto*наша почта:" id ="third">Электронная почта</a>
            <img id="last-picture" src="/history/static/history/img/images/Full_Logo.svg">
        </div>
    
</div>
</nav>

    </body>

</html>