<!DOCTYPE html>
<html lang = "ru">


<head>
    <meta charset = "utf-8">
    <link rel = "stylesheet" href = "/history/static/history/css/his-mobile.css">
    <link rel="shortcut icon" href="/history/static/history/img/images/logo.png" type="image/png">
    <title>TGNhistory</title>
    <script type="text/javascript" src="flowplay/flowplayer-3.2.2.min.js"></script>
    <script type = "text/javascript" src = "/history/static/history/img/scripts/menu.js"></script>
</head>


<body>

<!--шапка сайта-->
<header id="header">
    <div id = "main-button">
        <img src="/history/static/history/img/images/logo.png" id="header-logo" width="130px" height="130px"></img>
        <div class = "name">Таганрог</div>
    </div>
    <div id="menu"></div>
    <div id = "ex-menu" onclick = "close_menu()">&#10006;</div>
    <div id = "drop-menu" onclick = "open_menu()">
        <div id="first-line"></div>
        <div id="second-line"></div>
        <div id="third-line"></div>
    </div>
    <div id="hid-menu">
        <ul>
            <li><a href="#">Достопримечательности</a></li>
            <li><a href="#">История</a> </li>
            <li><a href="#">Институты</a></li>
            <li><a href="#">IT-компании</a></li>
        </ul>
    </div>
</header>


<!--Блок с содержанием-->
<div id = "content">
    <h2>СОДЕРЖАНИЕ</h2>
    <ol id = "list">
        <li><a href = "#found-h2">История основания города</a></li>
        <li><a href = "#development">Дальнейшее развитие Таганрога</a></li>
        <li><a href = "#modern">Современный Таганрог</a></li>
    </ol>
</div>


<!--стрелка из фотографий-->
<img id = "before-line" src = "/history/static/history/img/images/before-line.png">


<!--стрелка-->
<div id = "after-head">
    <div id = "strelka" style="width: 30px; height: 30px;"></div>
    <div id="circle_one"></div>
    <div id="circle_two"></div>
    <div id="circle_three"></div>
    <div id = "line">
        <!--линия под картинками-->
    </div>
    <p id = "first-p">ОСНОВАНИЕ ГОРОДА</p>
    <p id = "second-p">РАЗВИТИЕ ГОРОДА</p> 
    <p id = "third-p">СОВРЕМЕННЫЙ ТАГАНРОГ</p>
</div>


<!--История основания Таганрога-->
<div id = "foundation">
    <h2 id = "found-h2">ИСТОРИЯ ОСНОВАНИЯ ГОРОДА</h2>
    <p id = "found-p1">
        В 1696 году после того, как был взят Азов, Петр1 распорядился начать строительство гавани и крепости на Таганьем Роге. Дату 12 сентября 1698 года было принято считать моментом основания города Таганрога, который первоначально назывался Троик на Таган-Роге. Руководил строительством гавани Матвей Симонт, а первый план крепости составил Эрнст Фридрих Боргсдорф, австрийский инженер.
Крепость окружал земляной вал высотой 8 м, ров глубиной 5 м, общая протяженность крепости составляла 3 км.Крепость была оснащена пушками и гаубицами и многочисленными пороховыми погребами. Внутри крепость представляла собой: государев двор, городские палаты, Троицкую церковь, дома для простых людей, кабаки, склады, базары, колодцы.В августе 1696 года Приазовье становится крупнейшим в России местом ссылки «на вечное житье». Там же появилась первая в России каторга, центром которой стал Таганрог. В ссылку отправляли чиновников, духовных лиц, выходцев из дворянства, а также пленных турков и татар. В связи с началом Северной войны большую группу составляли шведы и жители Прибалтики, а также казаки Слободской Украины.
    </p>
    <img id = "found-first-img" src = "/history/static/history/img/images/foundation-1.jpg" alt="">
    <p id = "found-p2">
        В честь окончания строительства гавани в 1709 году Петр1 издал приказ изготовить памятную медаль, которая была овальной формы. На лицевой стороне медали было изображение Петра1, а на оборотной изображен план крепости и гавани Таганрога и надпись «За дело гавани капитану Матвею Симонову».
        <br>
        <br>
        В 1736 году в ходе русско-турецкой войны Азов был взят, Таганрог также отошел к России, восстановление крепости сразу приняло обороты.
        <br>
        <br>
        В итоге, только после победоносной войны 1768 — 1744 г. крепость стала частью России окончательно. Гавань стала базой для организации Азовской флотилии.
        <br>
        <br>
        Уже к концу 1771 года адмирал А.Н. Сенявин командовал уже 21 кораблем с 450 орудиями и 3300 членами экипажей. Азовская флотилия участвовала во взятии Перекопа и крепостей Керчь и Ени-Кале. В том же 1771 году Азовская флотилия перебазировалась из Таганрога в Керчь, строительство военных кораблей перенесено в Херсон. Таганрог стал купеческим портовым городом.
        <br>
        <br>
        В связи с основанием в 1783 году города Севастополя Таганрог потерял свое военно-стратегическое значение и стал крупнейшим портом России.
    </p>
    <img id = "found-second-img" src = "/history/static/history/img/images/foundation-2.png" alt="">
</div>


<!--Дальнейшее развитие Таганрога-->
<div id = "development">
    <h2>ДАЛЬНЕЙШЕЕ РАЗВИТИЕ ТАГАНРОГА</h2>
    <p>Второе рождение Таганрога тесно связано с именем Екатерины Второй. В ходе очередной русско-турецкой войны русские войска заняли город и началось его восстановление как военной базы. Позднее, после присоединения к России Крыма и основания Севастополя, Таганрог потерял свое военно-стратегическое значение, и превратился в крупнейший торговый порт на Азовском море, занимающий главное место в торговле России на юге. Близость города к сельскохозяйственным районам очень способствовала его экономическому и торговому развитию – Таганрог соединили железной дорогой с Харьковом и Ростовом-на-Дону, в городе были открыты более дюжины иностранных консульств, шла бурная торговля пшеницей, пенькой, льном, икрой и другими продуктами.

        В XIX веке город был центром торговли, с того времени сохранились интересные особняки итальянских и греческих купцов.
        Достопримечательности Таганрога надолго останутся в памяти тех, кто его посетил.
         Богата культурная жизнь Таганрога. В нашем городе работают  литературный и историко-архитектурный музей-заповедник им. А. П. Чехова, художественный музей, драматический театр, старейший на Юге России парк культуры и отдыха. Регулярно проводится различные конкурсы, фестивали, соревнования областного, всероссийского и международного значения.
         Таганрог дал России и миру немало известных людей. В первую очередь, А. П. Чехова, 150-летие со дня рождения которого отмечалось в 2010 году.
        С городом также связаны имена актрисы Раневской, художников Савицкого и Куинджи, писателя Василенко, дрессировщика Дурова, певицы Образцовой, поэта Танича, авиаконструктора Бериева, литератора Кукольника и многих других известных в нашей стране людей.
        
        Таганрожцы гордятся своими выдающимися земляками, чтят их память, сохраняют и преумножают богатейшее историческое и культурное наследие города.
    </p>
    <img id = "dev-first-img" src = "/history/static/history/img/images/block-2.png" alt="">
    <img id = "dev-second-img" src = "/history/static/history/img/images/block-3.png" alt="">
</div>


<!--Современный Таганрог-->
<div id = "modern">
    <h2>СОВРЕМЕННЫЙ ТАГАНРОГ</h2>
    <p id = "modern-first-p">
        Улицы и невысокие дома Старого Таганрога сохранили ауру старинного русского города. Здесь можно увидеть немало зданий, выстроенных еще в позапрошлом столетии, – сегодня они являются подлинными памятниками классической провинциальной архитектуры. К слову, во многих из них разместились интересные музеи или проходят передвижные выставки. Сам старинный центр города имеет статус историко-архитектурного заповедника.
        <br>
        <br>
        Практически у подножий зданий Старого города, на побережье Таганрогского залива, защищенном от штормов, расположились песчаные пляжи. В летнюю пору они с утра до вечера заполнены отдыхающими. На некоторых пляжах, где открыты ночные клубы и рестораны, купание и веселье продолжаются ночь напролет.
    </p>
    <img id = "modern-first-img" src = "/history/static/history/img/images/modern-1.png">
    <p id = "modern-second-p">
        Город предлагает широкий спектр развлечений и познавательных экскурсий. Здесь вас ожидают морские прогулки под парусом, водные аттракционы, полеты на парашюте над морской гладью. В Таганроге вы найдете современные комфортабельные гостиницы, множество отличных ресторанов, кафе, лучшие из которых расположились в его историческом центре и на побережье, а также колоритные южные базары, где по очень привлекательным ценам продаются сочные фрукты, овощи, свежие, копченые, вяленые дары моря.
    </p>
    <img id = "modern-second-img" src = "/history/static/history/img/images/modern-2.png" alt="">
    <img id = "modern-third-img" src = "/history/static/history/img/images/modern-3.png" alt="">
</div>


<!--Лого команды, vk...-->
<div id="last-block">
    <a id="first">Copyright (с) 2022 Eclipse</a>
    <a id="second">Telegram —     Vkontakte —     E-mail</a>
    <img id="last-picture" src="/history/static/history/img/images/Full_Logo.svg" alt="">
</div>

</body>

</html>