{% load static %}
<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset = "utf-8" name="viewport"  width = "device-width">
    <link rel = "stylesheet" href = "{% static 'tagasite/css/style-main_mobile.css' %}">
    <link rel="shortcut icon" href="{% static 'tagasite/img/sourse/logo.png' %}" type="image/png">
    <title>TGNsite</title>
    <script type="text/javascript" src="flowplay/flowplayer-3.2.2.min.js"></script>
    <script type = "text/javascript" src = "{% static 'tagasite/js/scripts/menu.js' %}"></script>
</head>
<body>

<!--<script type="text/javascript">
    if (screen.width > 480) {
        window.location = "http://tgnsite.ru.xsph.ru/";
    }
</script>-->
<header id="header">
    <div id = "main-button">
        <img src="{% static 'tagasite/img/sourse/logo.png' %}" id="header-logo" width="130px" height="130px" onclick="document.location='/'"></img>
        <div class = "name">Таганрог</div>
    </div>
    <div id="menu"></div>
    <div id = "ex-menu" onclick = "close_menu()">&#10006;</div>
    <div id = "drop-menu" onclick = "open_menu()">
        <div id="first-line"></div>
        <div id="second-line"></div>
        <div id="third-line"></div>
    </div>
    <div id="hid-menu">
        <ul>
            <li><a href="#"  onclick="document.location='attractions';">Достопримечательности</a></li>
            <li><a href="#" onclick="document.location='history';">История</a> </li>
            <li><a href="#" onclick="document.location='abityrienty';">Институты</a></li>
            <li><a href="#" onclick="document.location='it';" >IT-компании</a></li>
        </ul>
    </div>
</header>


<div class="slider">
    <div class="slider-list">
        <div class="slider-track">
            <div class="slide">
                <img src="{% static 'tagasite/img/sourse/bg1.png' %}" width="1050px" height="1171px">
                <div class="bg-bl-m">
                    <div class="bg-box">
                        <h1 class="bg-h">ЛАВКА ЧЕХОВА</h1>
                        <a class="bg-a">Дом 40-х годов, который семья Чеховых арендовала в 1869—1874 года</a>
                    </div>
                </div>
            </div>
            <div class="slide">
                <img src="{% static 'tagasite/img/sourse/bg2.png' %}" width="1050px" height="1171px">
                <div class="bg-bl-m">
                    <div class="bg-box">
                        <h1 class="bg-h">ХУДОЖЕСТВЕННЫЙ МУЗЕЙ</h1>
                        <a class="bg-a">Картинная галерея Третьякова</a>
                    </div>
                </div>
            </div>
            <div class="slide">
                <img src="{% static 'tagasite/img/sourse/bg3.png' %}" width="1050px" height="1171px">
                <div class="bg-bl-m">
                    <div class="bg-box">
                        <h1 class="bg-h">ДВОРЕЦ АЛФЕРАКИ</h1>
                        <a class="bg-a">Дворец Н.Д.Алфераки в стиле пышного южного необарокко.</a>
                    </div>
                </div>
            </div>
            <div class="slide">
                <img src="{% static 'tagasite/img/sourse/bg1.png' %}" width="1050px" height="1171px">
                <div class="bg-bl-m">
                    <div class="bg-box">
                        <h1 class="bg-h">ЛАВКА ЧЕХОВА</h1>
                        <a class="bg-a">Дом 40-х годов, который семья Чеховых арендовала в 1869—1874 года</a>
                    </div>
                </div>
            </div>
            <div class="slide">
                <img src="{% static 'tagasite/img/sourse/bg1.png' %}" width="1050px" height="1171px">
                <div class="bg-bl-m">
                    <div class="bg-box">
                        <h1 class="bg-h">ЛАВКА ЧЕХОВА</h1>
                        <a class="bg-a">Дом 40-х годов, который семья Чеховых арендовала в 1869—1874 года</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-arrows">
        <!--<button type="button" class="prev">&larr;</button>
        <button type="button" class="next">&rarr;</button>-->
    </div>
</div>


<div class="about-city-m">
    <div id="bg-block"></div>
    <h2 id="center-txt-m">О ГОРОДЕ</h2>
    <a id="centre-quote-m">«Весной город накрывал запах акаций, такой густой и тяжелый, что его с трудом пробивал морской ветер» - <span class="colortxt">Нелли Александровна </span></a>
    <video controls id="video-m" width="940" height="400">
        <source src="{% static 'tagasite/img/sourse/video/Taganrog.mp4' %}" type="video/mp4">
        <source src="{% static 'tagasite/img/sourse/video/Taganrog.ogv' %} " type="video/ogg">
        <source src="{% static 'tagasite/img/sourse/video/Taganrog.webm' %}" type="video/webm">
    </video>
    <img src="{% static 'tagasite/img/sourse/logo.png' %}" id="logo-info-m">
    <p id="main-int-m">
        Добро пожаловать в <span class="colortxt">Таганрог</span>!
    </p>
    <p id="sub-int-m">
        <span class="colortxt">Таганрог</span> - небольшой, но безумно уютный город на юге России, в архетектуре и культуре, которого прослеживаются греческие корни, а местный порт, основаный самим <span class="colortxt">Петром Первым </span>был первой военно-морской базой в истории России.
    </p>
    <!--<div id="del-line"></div>-->
    <div id="fact1-m">
        <img src="{% static 'tagasite/img/sourse/fct1.svg' %}" class="l1">
        <h3  class="m-txt-m">IT СТОЛИЦА ЮГА</h3>
        <p  class="s-txt-m"><span class="colortxt">Таганрог</span> - уникальный город россии, в котором старинные здания сочетаются с технологиями тысяч <span class="colortxt">IT компаний</span>, основаных здесь и не только.     ***(1000 It?)***</p>
    </div>
    <div id="fact2-m">
        <img src="{% static 'tagasite/img/sourse/fct2.svg' %}" class="l1">
        <h3  class="m-txt-m">РОДИНА ЧЕХОВА</h3>
        <p  class="s-txt-m"> Здесь родился и вырос талантливый русский писатель, прозаик, драматург, публицист и врач <span class="colortxt">Антон Павлович Чехов</span>.</p>

    </div>
    <div id="fact3-m">
        <img src="{% static 'tagasite/img/sourse/fct3.svg' %} " class="l1">
        <h3 class="m-txt-m">ТРОИЦКАЯ КРЕПОСТЬ</h3>
        <p  class="s-txt-m">Мыс Таганий Рог, оказался идеальным местом для возведения мощного бастиона, который в последствии стал надежным щитом крупного торгового порта.</p>

    </div>
    <div id="fact4-m">
        <img src="{% static 'tagasite/img/sourse/fct4.svg' %}" class="l1">
        <h3 class="m-txt-m">СОЛНЕЧЕНЫЕ ЧАСЫ</h3>
        <p class="s-txt-m">В нашем прекрасном городе сохранились настоящие, функциональные солнечные часы, по которым до сих пор можно определить время в солнечный день.</p>

    </div>
</div>

<div id="gallery-m">
    <a id="gal-name-m">ГАЛЕРЕЯ</a>
    <img src="{% static 'tagasite/img/sourse/logo.png' %}" id="gal-logo-m">
    <a id="gal-sub-name-m">ТАГАНРОГ</a>
    <img id="f1" src="{% static 'tagasite/img/sourse/C9cSUNzFv74%201.png' %}">
    <img id="f2" src="{% static 'tagasite/img/sourse/Foto%204.png' %} ">
    <img id="f3" src="{% static 'tagasite/img/sourse/Foto%206.png' %}">
    <img id="f4" src="{% static 'tagasite/img/sourse/Foto%207.png' %}">
    <img id="f5" src="{% static 'tagasite/img/sourse/Foto%208.png' %}">
</div>

<!--<div id="qt-m">
    <img id="qt-img" src="{% static 'tagasite/img/sourse/image3_m.png' %}" width="1050px" height="500">
    <h2 id="qust-m">ЗАИНТЕРЕСОВАЛИ?</h2>
    <div id="yes-m">
        <a id="yes-txt-m">ДА</a>
    </div>
    <div id="no-m">
        <a id="no-txt-m">НЕТ</a>
    </div>
</div>-->

<div id="feedback-m">

     <h2 id="fb-h">ОБРАТНАЯ СВЯЗЬ</h2>
    <!--<a id="fb-inf">Какой-то текст</a>
    <div class="block">
        <a class="hl">ЧТО-ТО</a>
        <img class="ft1" src="/sourse/placeholder.png">
        <img class="ft2" src="/sourse/smartphone%20(1).png">
        <img class="ft3" src="/sourse/mail.png">
        <a class="frs-line">ХЗ</a>
        <a class="snd-line">*НОМЕР* (нах он нужен)?</a>
        <a class="thr-line">ПОЧТА</a>
    </div>
    <div class="block b1">
        <a class="hl">ЧТО-ТО</a>
        <img class="ft1" src="/sourse/placeholder.png">
        <img class="ft2" src="/sourse/smartphone%20(1).png">
        <img class="ft3" src="/sourse/mail.png">
        <a class="frs-line">ХЗ</a>
        <a class="snd-line">*НОМЕР* (нах он нужен)?</a>
        <a class="thr-line">ПОЧТА</a>
    </div>-->
    <!--
    <div id="form">
        <input id="ur-name" placeholder="Ваше Имя">
        <input id="ur-email" placeholder="Ваше Email">
        <input id="ur-msg" placeholder="Сообщение">
        <div id="send">
            <a id="send-txt">ОТПРАВИТЬ</a>
        </div>
    </div>
    -->
    <!--<a id="fb-inf">Какой-то текст</a>
    <div class="block">
        <a class="hl">ЧТО-ТО</a>
        <img class="ft1" src="/sourse/placeholder.png">
        <img class="ft2" src="/sourse/smartphone%20(1).png">
        <img class="ft3" src="/sourse/mail.png">
        <a class="frs-line">ХЗ</a>
        <a class="snd-line">*НОМЕР* (нах он нужен)?</a>
        <a class="thr-line">ПОЧТА</a>
    </div>
    <div class="block b1">
        <a class="hl">ЧТО-ТО</a>
        <img class="ft1" src="/sourse/placeholder.png">
        <img class="ft2" src="/sourse/smartphone%20(1).png">
        <img class="ft3" src="/sourse/mail.png">
        <a class="frs-line">ХЗ</a>
        <a class="snd-line">*НОМЕР* (нах он нужен)?</a>
        <a class="thr-line">ПОЧТА</a>
    </div>-->

    <form action="" method="POST" class="form-contact contact_form">
     {% csrf_token %}
            {% if success %}
            <div class="alert alert-damage" id="tnx-message">
                <strong>Спасибо за сообщение!</strong>
            </div>
        {% else %}

            <div id="form">
                <div>
                    {% if form.name.errors %}
                    <div class="alert alert-danger" >
                        <strong>{{form.name.errors}}</strong>
                    </div>
                    {% endif %}
                    <div >
                        {{ form.name }}
                    </div>
                </div>

                <div>
                    {% if form.email.errors %}
                    <div class="alert alert-danger" >
                        <strong>{{form.email.errors}}</strong>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.email }}
                    </div>
                </div>

                <div id="msg-v2">
                    {% if form.message.errors %}
                    <div class="alert alert-danger" >
                        <strong>{{form.message.errors}}</strong>
                    </div>
                    {% endif %}
                    <div class="form-group" id="dop">
                        {{ form.message }}
                    </div>
                </div>
            </div>
        <button id="send-txt-v2"
      type="submit" >Отправить
        </button>

        {% endif %}
    </form>




</div>


<div id="welcome">
    <h3 id="w-h">ЖДЕМ В ГОСТИ</h3>
    <img id="w-logo" src="{% static 'tagasite/img/sourse/logo.png' %}">
    <a id="w-a">ТАГАНРОГ</a>
    <img id="w-f1" src="{% static 'tagasite/img/sourse/Foto%209.png' %} " class="wid-f">
    <img id="w-f2" src="{% static 'tagasite/img/sourse/f7.png' %}" class="wid-f">
    <img id="w-f3" src="{% static 'tagasite/img/sourse/f8.png' %}" class="wid-f">
    <img id="w-f4" src="{% static 'tagasite/img/sourse/Foto%208%20(1).png' %}" class="wid-f">
    <img id="w-f5" src="{% static 'tagasite/img/sourse/Foto%209%20(1).png' %}" class="wid-f">
    <!--<img id="w-f6" src="../sourse/Foto%2010.png" class="w-f" class="wid-f">-->
</div>









<div id="last-block">
    <a id="first">Copyright (с) 2022 Eclipse</a>
    <a id="second">Facebook —     Vkontakte —     Instagram</a>
    <img id="last-picture" src="{% static 'tagasite/img/sourse/Full_Logo.svg' %}">
</div>






<!--<script>
    let i = 1;
    for(let li of carousel.querySelectorAll('li')) {
        li.style.position = 'relative';
        li.insertAdjacentHTML('beforeend', `<span style="position:absolute;left:0;top:0">${i}</span>`);
        i++;
    }

    /* конфигурация */
    let width = 913 + 55; // ширина картинки
    let count = 1; // видимое количество изображений

    let list = carousel.querySelector('ul');
    let listElems = carousel.querySelectorAll('li');

    let position = 0; // положение ленты прокрутки

    carousel.querySelector('.button-prev-m').onclick = function() {
        // сдвиг влево
        position += width * 1;
        // последнее передвижение влево может быть не на 3, а на 2 или 1 элемент
        position = Math.min(position, 0)
        list.style.marginLeft = position + 'px';
    };

    carousel.querySelector('.button-next-m').onclick = function() {
        // сдвиг вправо
        position -= width * 1;
        /*position -= width / 2;*/
        /*position -= width / 2;*/
        // последнее передвижение вправо может быть не на 3, а на 2 или 1 элемент
        position = Math.max(position, -width * (listElems.length - count));
        list.style.marginLeft = position + 'px';
    };


    //

    var header = (".header"),
        scrollPrev = 0;

    (window).scroll(function() {
        var scrolled = (window).scrollTop();

        if ( scrolled > 100 && scrolled > scrollPrev ) {
            header.addClass('out');
        } else {
            header.removeClass('out');
        }
        scrollPrev = scrolled;
    });
</script>-->

<script>
    let slider = document.querySelector('.slider'),
        sliderList = slider.querySelector('.slider-list'),
        sliderTrack = slider.querySelector('.slider-track'),
        slides = slider.querySelectorAll('.slide'),
        arrows = slider.querySelector('.slider-arrows'),
        prev = arrows.children[0],
        next = arrows.children[1],
        count = 0;
        slideWidth = slides[0].offsetWidth,
        slideIndex = 0,
        posInit = 0,
        posX1 = 0,
        posX2 = 0,
        posFinal = 0,
        posThreshold = slideWidth * .35,
        trfRegExp = /[-0-9.]+(?=px)/,
        slide = function() {
            sliderTrack.style.transition = 'transform .5s';
            sliderTrack.style.transform = `translate3d(-${slideIndex * slideWidth}px, 0px, 0px)`;

            // делаем стрелку prev недоступной на первом слайде
            // и доступной в остальных случаях
            // делаем стрелку next недоступной на последнем слайде
            // и доступной в остальных случаях
            prev.classList.toggle('disabled', slideIndex === 0);
            next.classList.toggle('disabled', slideIndex === --slides.length);
        }
    getEvent = function() {
        return event.type.search('touch') !== -1 ? event.touches[0] : event;
        // p.s. event - аргумент по умолчанию в функции
    },
// или es6
        getEvent = () => event.type.search('touch') !== -1 ? event.touches[0] : event,

        swipeStart = function() {
            let evt = getEvent();

            // берем начальную позицию курсора по оси Х
            posInit = posX1 = evt.clientX;

            // убираем плавный переход, чтобы track двигался за курсором без задержки
            // т.к. он будет включается в функции slide()
            sliderTrack.style.transition = '';

            // и сразу начинаем отслеживать другие события на документе
            document.addEventListener('touchmove', swipeAction);
            document.addEventListener('touchend', swipeEnd);
            document.addEventListener('mousemove', swipeAction);
            document.addEventListener('mouseup', swipeEnd);
        },
        swipeAction = function() {
            let evt = getEvent(),
                // для более красивой записи возьмем в переменную текущее свойство transform
                style = sliderTrack.style.transform,
                // считываем трансформацию с помощью регулярного выражения и сразу превращаем в число
                transform = +style.match(trfRegExp)[0];

            posX2 = posX1 - evt.clientX;
            posX1 = evt.clientX;

            sliderTrack.style.transform = `translate3d(${transform - posX2}px, 0px, 0px)`;
            // можно было бы использовать метод строк .replace():
            // sliderTrack.style.transform = style.replace(trfRegExp, match => match - posX2);
            // но в дальнейшем нам нужна будет текущая трансформация в переменной
        }
    swipeEnd = function() {
        // финальная позиция курсора
        posFinal = posInit - posX1;

        document.removeEventListener('touchmove', swipeAction);
        document.removeEventListener('mousemove', swipeAction);
        document.removeEventListener('touchend', swipeEnd);
        document.removeEventListener('mouseup', swipeEnd);

        // убираем знак минус и сравниваем с порогом сдвига слайда
        if (Math.abs(posFinal) > posThreshold) {
            // если мы тянули вправо, то уменьшаем номер текущего слайда
            if (posInit < posX1) {
                slideIndex--;
                // если мы тянули влево, то увеличиваем номер текущего слайда
            } else if (posInit > posX1) {
                slideIndex++;
            }
        }

        // если курсор двигался, то запускаем функцию переключения слайдов
        if (posInit !== posX1) {
            slide();
        }

    };
    arrows.addEventListener('click', function() {
        let target = event.target;

        if (target === next) {
            slideIndex++;
        } else if (target === prev) {
            slideIndex--;
        } else {
            return;
        }

        slide();
    });

    sliderTrack.style.transform = 'translate3d(0px, 0px, 0px)';

    slider.addEventListener('touchstart', swipeStart);
    slider.addEventListener('mousedown', swipeStart);
</script>
</body>
</html>