<!DOCTYPE html>
<html lang = "ru">
<head>
    <meta charset = "utf-8">
    <link rel = "stylesheet" type="text/css"  href = "/tagasite/static/tagasite/css/style-main.css">
    <link rel="shortcut icon" href="/tagasite/static/tagasite/img/sourse/logo.png" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <title>TGNsite</title>
    <script type="text/javascript" src="flowplay/flowplayer-3.2.2.min.js"></script>
</head>
<body>



<nav id="header-main" lang="ru-RU" dir="ltr" role="navigation">
    <!--<div id="logo"></div>-->
    <img id="logo" src="/tagasite/static/tagasite/img/sourse/logo.png">
    <div id = "drop-menu">
        <div id="first-line"></div>
        <div id="second-line"></div>
        <div id="third-line"></div>
    </div>
    <div id="Attraction" onclick="location.href='http://attraction.tgnsite.ru.xsph.ru/';">ДОСТОПРИМЕЧАТЕЛЬНОСТИ</div>
    <div id="main-menu" onclick="location.href='http://tgnsite.ru.xsph.ru/';"></div>
    <div id="url-main" onclick="document.location='page/main_page_mobile.html';">ГЛАВНАЯ</div>
    <div id="name">*НАЗВАНИЕ САЙТА*</div>
    <div id="reviews">ОТЗЫВЫ</div>
    <div id="IT">АБИТУРИЕНТАМ</div>
</nav>
<div id="carousel" class="carousel">
    <div class="gallery">
        <ul>
            <li>
                <!-- <div class="blck">-->
                <img src="/tagasite/static/tagasite/img/sourse/bg1.png">
                <div class="bg-block">
                    <div class="box">
                        <a class="hd">ЛАВКА ЧЕХОВА</a>
                        <a class="hd-info">Дом 40-х годов, который семья Чеховых арендовала в 1869—1874 года</a>
                    </div>
                </div>
                <!-- </div>-->
            </li>
            <li><img src="/tagasite/static/tagasite/img/sourse/bg2.png">
                <div class="bg-block">
                    <div class="box">
                        <a class="hd">ХУДОЖЕСТВЕННЫЙ МУЗЕЙ</a>
                        <a class="hd-info">Картинная галерея Третьякова</a>
                    </div>
                </div>
            </li>
            <li><img src="/tagasite/static/tagasite/img/sourse/bg3.png">
                <div class="bg-block">
                    <div class="box">
                        <a class="hd">ДВОРЕЦ АЛФЕРАКИ</a>
                        <a class="hd-info">Дворец Н.Д.Алфераки в стиле пышного южного необарокко.</a>
                    </div>
                </div>
            </li>
            <li><img src="/tagasite/static/tagasite/img/sourse/bg1.png">
                <div class="bg-block">
                    <div class="box">
                        <a class="hd">ЛАВКА ЧЕХОВА</a>
                        <a class="hd-info">Афаьпфопф фупофпоф фпофпф</a>
                    </div>
                </div>
            </li>
            <li><img src="/tagasite/static/tagasite/img/sourse/bg1.png">
                <div class="bg-block">
                    <div class="box">
                        <a class="hd">ЛАВКА ЧЕХОВА</a>
                        <a class="hd-info">Афаьпфопф фупофпоф фпофпф</a>
                    </div>
                </div>
            </li>
            <li><img src="/tagasite/static/tagasite/img/sourse/bg1.png">
                <div class="bg-block">
                    <div class="box">
                        <a class="hd">ЛАВКА ЧЕХОВА</a>
                        <a class="hd-info">Афаьпфопф фупофпоф фпофпф</a>
                    </div>
                </div>
            </li>
            <li><img src="/tagasite/static/tagasite/img/sourse/bg1.png">
                <div class="bg-block">
                    <div class="box">
                        <a class="hd">ЛАВКА ЧЕХОВА</a>
                        <a class="hd-info">Афаьпфопф фупофпоф фпофпф</a>
                    </div>
                </div>
            </li>
            <li><img src="/tagasite/static/tagasite/img/sourse/bg1.png">
                <div class="bg-block">
                    <div class="box">
                        <a class="hd">ЛАВКА ЧЕХОВА</a>
                        <a class="hd-info">Афаьпфопф фупофпоф фпофпф</a>
                    </div>
                </div>
            </li>
            <li><img src="/tagasite/static/tagasite/img/sourse/bg1.png">
                <div class="bg-block">
                    <div class="box">
                        <a class="hd">ЛАВКА ЧЕХОВА</a>
                        <a class="hd-info">Афаьпфопф фупофпоф фпофпф</a>
                    </div>
                </div>
            </li>
            <li><img src="/tagasite/static/tagasite/img/sourse/bg1.png">
                <div class="bg-block">
                    <div class="box">
                        <a class="hd">ЛАВКА ЧЕХОВА</a>
                        <a class="hd-info">Афаьпфопф фупофпоф фпофпф</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="button-prev">
        <div id="l-button-top"></div>
        <div id="l-button-bot"></div>
    </div>
    <div class="button-next">
        <div id="r-button-top"></div>
        <div id="r-button-bot"></div>
    </div>
</div>




<div class="about-city">
    <h2 id="center-txt">О ГОРОДЕ</h2>
    <a id="centre-quote">«Весной город накрывал запах акаций, такой густой и тяжелый, что его с трудом пробивал морской ветер» - Нелли Александровна </a>
    <div id="bg-about"></div>
    <!--<iframe id="video" width="920" height="479" src="https://youtu.be/QblaSNRcRY0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
    <video controls id="video" width="920" height="479">
        <source src="/tagasite/static/tagasite/img/sourse/video/Taganrog.mp4" type="video/mp4">
        <source src="/tagasite/static/tagasite/img/sourse/video/Taganrog.ogv" type="video/ogg">
        <source src="/tagasite/static/tagasite/img/sourse/video/Taganrog.webm" type="video/webm">
    </video>
    <!--<a href="../sourse/video/Taganrog.webm" id="js-player"></a>-->
    <div id="introducing">
        <img src="/tagasite/static/tagasite/img/sourse/logo.png" id="logo-info">
        <p id="main-int">Добро пожаловать в <span class="colortxt">Таганрог</span>! <br> <br>
            <span class="colortxt">Таганрог</span> - небольшой, но безумно уютный город на юге России, в архетектуре и культуре, которого прослеживаются греческие корни, а местный порт, основаный самим <span class="colortxt">Петром Первым </span>был первой военно-морской базой в истории России.
        </p>
        <div id="fact1">
            <img src="/tagasite/static/tagasite/img/sourse/fct1.svg" id="l1">
            <h3  class="m-txt">IT СТОЛИЦА ЮГА</h3>
            <p  class="s-txt"><span class="colortxt">Таганрог</span> - уникальный город россии, в котором старинные здания сочетаются с технологиями тысяч <span class="colortxt">IT компаний</span>, основаных здесь и не только.     ***(1000 It?)***</p>
        </div>
        <div id="fact2">
            <img src="/tagasite/static/tagasite/img/sourse/fct2.svg" id="l2">
            <h3  class="m-txt">РОДИНА ЧЕХОВА</h3>
            <p  class="s-txt"> Здесь родился и вырос талантливый русский писатель, прозаик, драматург, публицист и врач <span class="colortxt">Антон Павлович Чехов</span>.</p>

        </div>
        <div id="fact3">
            <img src="/tagasite/static/tagasite/img/sourse/fct3.svg" id="l3">
            <h3 class="m-txt">ТРОИЦКАЯ КРЕПОСТЬ</h3>
            <p  class="s-txt">Мыс Таганий Рог, оказался идеальным местом для возведения мощного бастиона, который в последствии стал надежным щитом крупного торгового порта.</p>

        </div>
        <div id="fact4">
            <img src="/tagasite/static/tagasite/img/sourse/fct4.svg" id="l4">
            <h3 class="m-txt">СОЛНЕЧЕНЫЕ ЧАСЫ</h3>
            <p class="s-txt">В нашем прекрасном городе сохранились настоящие, функциональные солнечные часы, по которым до сих пор можно определить время в солнечный день.</p>

        </div>
    </div>
    <!--<div id="fact-bg"></div>-->
</div>

<div id="gallery">
    <h2 id="gal-name">ГАЛЕРЕЯ</h2>
    <img src="/tagasite/static/tagasite/img/sourse/logo.png" id="gal-logo">
    <h1 id="gal-sub-name">ТАГАНРОГ</h1>
    <img id="f1" src="/tagasite/static/tagasite/img/sourse/C9cSUNzFv74%201.png">
    <img id="f2" src="/tagasite/static/tagasite/img/sourse/Foto%204.png">
    <img id="f3" src="/tagasite/static/tagasite/img/sourse/Foto%206.png">
    <img id="f4" src="/tagasite/static/tagasite/img/sourse/Foto%207.png">
    <img id="f5" src="/tagasite/static/tagasite/img/sourse/Foto%208.png">
</div>


<div id="qt">
    <h2 id="qust">ЗАИНТЕРЕСОВАЛИ?</h2>
    <div id="yes">
        <a id="yes-txt">ДА</a>
    </div>
    <div id="no">
        <a id="no-txt">НЕТ</a>
    </div>
</div>

<div id="feedback">

        <h2 id="fb-h">ОБРАТНАЯ СВЯЗЬ</h2>
        <a id="fb-inf">Какой-то текст</a>
        <div class="block">
            <a class="hl">ЧТО-ТО</a>
            <img class="ft1" src="/tagasite/static/tagasite/img/sourse/placeholder.png">
            <img class="ft2" src="/tagasite/static/tagasite/img/sourse/smartphone%20(1).png">
            <img class="ft3" src="/tagasite/static/tagasite/img/sourse/mail.png">
            <a class="frs-line">ХЗ</a>
            <a class="snd-line">*НОМЕР* </a>
            <a class="thr-line">ПОЧТА</a>
        </div>
        <div class="block b1">
            <a class="hl">ЧТО-ТО</a>
            <img class="ft1" src="/tagasite/static/tagasite/img/sourse/placeholder.png">
            <img class="ft2" src="/tagasite/static/tagasite/img/sourse/smartphone%20(1).png">
            <img class="ft3" src="/tagasite/static/tagasite/img/sourse/mail.png">
            <a class="frs-line">ХЗ</a>
            <a class="snd-line">*НОМЕР*</a>
            <a class="thr-line">ПОЧТА</a>
        </div>
    <form action="" method="POST" class="form-contact contact_form">
        {% csrf_token %}
            {% if success %}
            <div class="alert alert-damage" >
                <strong>Спасибо за сообщение!</strong>
            </div>
        {% else %}

            <div id="form">
                <div>
                    {% if form.name.errors %}
                    <div class="alert alert-danger" >
                        <strong>{{form.name.errors}}</strong>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.name }}
                    </div>
                </div>

                <div id = ur-"emai"'>
                    {% if form.email.errors %}
                    <div class="alert alert-danger" >
                        <strong>{{form.email.errors}}</strong>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.email }}
                    </div>
                </div>

                <div>
                    {% if form.message.errors %}
                    <div class="alert alert-danger" >
                        <strong>{{form.message.errors}}</strong>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.message }}
                    </div>
                </div>



            </div>

        <button id="send-txt"  class="button button-contactForm boxed-btn" type="submit">Отправить
        </button>
        {% endif %}
    </form>


</div>






<div id="welcome">
    <h3 id="w-h">ЖДЕМ В ГОСТИ</h3>
    <img id="w-logo" src="/tagasite/static/tagasite/img/sourse/logo.png">
    <a id="w-a">ТАГАНРОГ</a>
    <img id="w-f1" src="/tagasite/static/tagasite/img/sourse/Foto%209.png" class="wid-f">
    <img id="w-f2" src="/tagasite/static/tagasite/img/sourse/f7.png" class="wid-f">
    <img id="w-f3" src="/tagasite/static/tagasite/img/sourse/f8.png" class="wid-f">
    <img id="w-f4" src="/tagasite/static/tagasite/img/sourse/Foto%208%20(1).png" class="wid-f">
    <img id="w-f5" src="/tagasite/static/tagasite/img/sourse/Foto%209%20(1).png" class="wid-f">
    <img id="w-f6" src="/tagasite/static/tagasite/img/sourse/Foto%2010.png" class="w-f">
</div>









<div id="last-block">
    <a id="first">Copyright (с) 2022 Eclipse</a>
    <a id="second">Facebook —     Vkontakte —     Instagram</a>
    <br>
    <a href="mailto*наша почта:" id ="third">Электронная почта</a>
    <img id="last-picture" src="/tagasite/static/tagasite/img/Full_Logo.svg">
</div>






















<script>
    let i = 1;
    for(let li of carousel.querySelectorAll('li')) {
        li.style.position = 'relative';
        li.insertAdjacentHTML('beforeend', `<span style="position:absolute;left:0;top:0">${i}</span>`);
        i++;
    }

    /* конфигурация */
    let width = 605; // ширина картинки
    let count = 3; // видимое количество изображений

    let list = carousel.querySelector('ul');
    let listElems = carousel.querySelectorAll('li');

    let position = 0; // положение ленты прокрутки

    carousel.querySelector('.button-prev').onclick = function() {
        // сдвиг влево
        position += width * 1;
        // последнее передвижение влево может быть не на 3, а на 2 или 1 элемент
        position = Math.min(position, 0)
        list.style.marginLeft = position + 'px';
    };

    carousel.querySelector('.button-next').onclick = function() {
        // сдвиг вправо
        position -= width * 1;
        /*position -= width / 2;*/
        /*position -= width / 2;*/
        // последнее передвижение вправо может быть не на 3, а на 2 или 1 элемент
        position = Math.max(position, -width * (listElems.length - count));
        list.style.marginLeft = position + 'px';
    };
</script>
<!--<script type="text/javascript">
    flowplayer("player", {src : "https://www.youtube.com/watch?v=yAWx-cqstr0", wmode: "transparent"});
</script>-->
</body>
</html>
