{% load static %}
<!DOCTYPE html>
<html lang = "ru">


<head>
    <meta charset = "utf-8" name="viewport" content="initial-scale=1.0" width = "device-width">
    <link rel = "stylesheet" href = "{% static 'attractions/css/sights_mobile.css' %}">
    <link rel="shortcut icon" href="{% static 'attractions/img/images/logo.png' %}" type="image/png">
    <title>TGNsights</title>
    <script type="text/javascript" src="flowplay/flowplayer-3.2.2.min.js"></script>
    <script type = "text/javascript" src = "{% static 'attractions/js/scripts/menu.js' %}"></script>
</head>


<body>

    <header id="header">
        <div id = "main-button">
            <img src="{% static 'attractions/img/images/logo.png' %}" id="header-logo" width="130px" height="130px" onclick="document.location='/'"></img>
            <div class = "name">Таганрог</div>
        </div>
        <div id="menu"></div>
        <div id = "ex-menu" onclick = "close_menu()">&#10006;</div>
        <div id = "drop-menu" onclick = "open_menu()">
            <div id="first-line"></div>
            <div id="second-line"></div>
            <div id="third-line"></div>
        </div>
        <div id="hid-menu">
            <ul>
                <li><a href="#"  onclick="document.location='attractions';">Достопримечательности</a></li>
                <li><a href="#" onclick="document.location='history';" >История</a> </li>
                <li><a href="#" onclick="document.location='abityrienty';">Институты</a></li>
                <li><a href="#" onclick="document.location='it';">IT-компании</a></li>
            </ul>
        </div>
    </header>


    <div class="slider">
        <div class="slider-list">
            <div class="slider-track">
                <a href = "#lavka_Checkov">
                <div class="slide">
                    <img src="{% static 'attractions/img/images/muzej-lavka-chehovyh.jpg' %}" width="1050px" height="1171px">
                    <div class="bg-bl-m">
                        <div class="bg-box">
                            <h1 class="bg-h">ЛАВКА ЧЕХОВА</h1>
                        </div>
                    </div>
                </div>
                </a>
                <a href = "#art-museum">
                <div class="slide">
                    <img src="{% static 'attractions/img/images/art_museum.jpg' %}" width="1050px" height="1171px">
                    <div class="bg-bl-m">
                        <div class="bg-box">
                            <h1 id = "art_m" class="bg-h2">ХУДОЖЕСТВЕННЫЙ<br>МУЗЕЙ</h1>
                        </div>
                    </div>
                </div>
                </a>
                <a href = "#alferaki_">
                <div class="slide">
                    <img src="{% static 'attractions/img/images/alferaki.jpg' %}" width="1050px" height="1171px">
                    <div class="bg-bl-m">
                        <div class="bg-box">
                            <h1 class="bg-h">ДВОРЕЦ АЛФЕРАКИ</h1>
                        </div>
                    </div>
                </div>
                </a>
                <a href = "#Chechov_house">
                <div class="slide">
                    <img src="{% static 'attractions/img/images/Chekhov_house_Taganrog.jpg' %}" width="1050px" height="1171px">
                    <div class="bg-bl-m">
                        <div class="bg-box">
                            <h1 class="bg-h">ДОМИК ЧЕХОВА</h1>
                        </div>
                    </div>
                </div>
                </a>
                <a href = "#rows">
                <div class="slide">
                    <img src="{% static 'attractions/img/images/rows.jpg' %}" width="1050px" height="1171px">
                    <div class="bg-bl-m">
                        <div class="bg-box">
                            <h1 class="bg-h">ТОРГОВЫЕ РЯДЫ</h1>
                        </div>
                    </div>
                </div>
                </a>
                <a href = "#al1_palace">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/al1palace.png' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 id = "al_m" class="bg-h3">ДВОРЕЦ АЛЕКСАНДРА ПЕРВОГО</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#CheckovMonument">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/ChcchovMon.jpg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h2">ПАМЯТНИК А.&nbsp;П.&nbsp;ЧЕХОВУ</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#Sharonov_house">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/sharonov.png' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h">ДОМ ШАРОНОВА</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#Chaykovskiy">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/Chaykovskiy.jpg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h2">ДОМ-МУЗЕЙ ЧАЙКОВСКИХ</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#ladder">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/ladder.jpeg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h2">КАМЕННАЯ ЛЕСТНИЦА</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#lit">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/gimnasium.jpg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h3">ЛИТЕРАТУРНЫЙ МУЗЕЙ ИМ.&nbsp;A.&nbsp;П.&nbsp;ЧЕХОВА</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#durov">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/durov.jpg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h">МУЗЕЙ А.&nbsp;А.&nbsp;ДУРОВА</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#vasilenko">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/vasilenko.jpg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h2">ДОМ-МУЗЕЙ И.&nbsp;Д.&nbsp;ВАСИЛЕНКО</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#ranevskaya">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/ranevskaya.png' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h2">МУЗЕЙ ФАИНЫ РАНЕВСКОЙ</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#october">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/october.jpeg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h2">ОКТЯБРЬСКАЯ ПЛОЩАДЬ</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#cherry">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/cherry.jpg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h3">ПАМЯТНИК А.&nbsp;П.&nbsp;ЧЕХОВУ<br>«ВИШНЁВЫЙ САД»</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#garibaldy">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/garibaldi.jpg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h3">ПАМЯТНИК ДЖУЗЕППЕ ГАРИБАЛЬДИ</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#alex">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/alex.jpg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h2">ПАМЯТНИК АЛЕКСАНДРУ &#8544;</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#petr">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/petr.jpeg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h">ПАМЯТНИК ПЕТРУ &#8544;</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#park">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/park.jpg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 id = "park_m" class="bg-h3">ПАРК КУЛЬТУРЫ И ОТДЫХА ИМЕНИ ГОРЬКОГО</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#petrushino">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/petrushino.jpg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h">ПЕТРУШИНА КОСА</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#primor">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/primor.jpeg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h">ПРИМОРСКИЙ ПАРК</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#naber">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/nabereznaya.jpg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h2">ПУШКИНСКАЯ НАБЕРЕЖНАЯ</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#clocks">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/clocks.jpg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h">СОЛНЕЧНЫЕ ЧАСЫ</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#aviation">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/aviation.jpg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h">МУЗЕЙ АВИАЦИИ</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#Hram">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/Hram.jpg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h2">ЦЕРКОВЬ ВСЕХ СВЯТЫХ</h1>
                            </div>
                        </div>
                    </div>
                </a>
                <a href = "#Hram_Nicolay">
                    <div class="slide">
                        <img src="{% static 'attractions/img/images/Hram_Nicolay.jpg' %}" width="1050px" height="1171px">
                        <div class="bg-bl-m">
                            <div class="bg-box">
                                <h1 class="bg-h2">ЦЕРКОВЬ НИКОЛАЯ ЧУДОТВОРЦА</h1>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="slider-arrows">
            <!--<button type="button" class="prev">&larr;</button>
            <button type="button" class="next">&rarr;</button>-->
        </div>
    </div>

<div id = "between">
    <h2 id = "main-h2">ДОСТОПРИМЕЧАТЕЛЬНОСТИ</h2>
</div>

<div class = "sight" id = "rows">
    <div class = "line-sight"></div>
    <h3>АЛЕКСАНДРОВСКИЕ ТОРГОВЫЕ РЯДЫ</h3>
    <img src = "{% static 'attractions/img/images/rows.svg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Александровские торговые ряды</font> — памятник архитектуры русского классицизма, единственное сооружение такого типа на Юге России. 
                    <br>
                    &emsp;Общая длина фасада торговых рядов составляла около трехсот метров. Купеческая деятельность велась преимущественно в восточном крыле Гостиного двора, остальные помещения сдавались под жилье. Одну из лавок арендовал отец А.&nbsp;П.&nbsp;Чехова, где занимался бакалейной торговлей. 
                    <br>
                    &emsp;В 1935 году, к 75-летию со дня рождения А.&nbsp;П.&nbsp;Чехова территория рядов была преобразована в общественную площадь. 
                    <br>                   
    </p>
    <a class = "mappos" href = "https://yandex.ru/profile/46439668545" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "al1_palace">
    <div class = "line-sight"></div>
    <h3>ДВОРЕЦ АЛЕКСАНДРА ПЕРВОГО</h3>
    <img src = "{% static 'attractions/img/images/palace.jpg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Дворец Александра I</font> ― один из памятников истории и архитектуры Таганрога.
        <br>
        &emsp;«Всю жизнь провел свою в дороге, простыл и умер в Таганроге», — эти строки поэт Александр Сергеевич Пушкин написал после смерти в стенах дворца русского государя Александра I. 
        <br>
        &emsp;В дворце останавливались многие высокопоставленные лица, проезжавшие через город. Среди них был князь Николай I, князь Михаил, А.&nbsp;С.&nbsp;Пушкин и многие другие известные люди. На данный момент в здании расположен детский санаторий.  
        <br>             
    </p>
    <a class = "mappos" href = "https://yandex.ru/maps/org/dvorets_aleksandra_i/8419655125/?ll=38.941590%2C47.209286&z=16" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "alferaki_">
    <div class = "line-sight"></div>
    <h3>ДВОРЕЦ АЛФЕРАКИ</h3>
    <img src = "{% static 'attractions/img/images/alferaki.jpg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Дворец Алфераки</font> — архитектурный памятник федерального значения. Здание построено в 1848 году.
                    <br>
                    &emsp;В дворце была сосредоточена культурная жизнь города. Его хозяин давал в нем роскошные балы, на которые приглашались люди из высшего общества.
                    <br>
                    &emsp;Позднее дворец с садом перешли в руки купеческой организации, которая открыла в стенах постройки клуб “Коммерческое собрание”. Во дворце устраивались концерты, которые посещали такие известные люди как П.&nbsp;И.&nbsp;Чайковский, А.&nbsp;П.&nbsp;Чехов. Жизнь дворца, атмосфера клуба, впечатление от прогулок по саду запечатлены в рассказах Чехова «Ионыч», «Маска», «Моя жизнь».
                    <br>          
    </p>
    <a id = "alf_a" class = "mappos" href = "https://yandex.ru/maps/org/dvorets_n_d_alferaki/41237525313/?ll=38.928278%2C47.213528&z=16.67" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "CheckovMonument">
    <div class = "line-sight"></div>
    <h3>ПАМЯТНИК А.&nbsp;П.&nbsp;ЧЕХОВУ</h3>
    <img src = "{% static 'attractions/img/images/ChcchovMon.jpg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Дворец Алфераки</font> — архитектурный памятник федерального значения. Здание построено в 1848 году.
        &emsp;<font color = "#E0AB4D">Памятник А.&nbsp;П.&nbsp;Чехову</font> — был подготовлен скульптором Иулианом Рукавишниковым. Памятник появился в Таганроге в 1960 году, в дни празднования 100-летия со дня рождения знаменитого писателя. Примечательно, что в выборе внешнего вида проекта участвовали жители Таганрога. Четыре лучших работы были выставлены в краеведческом музее, посетители оставляли свои впечатления и мнения в книге отзывов. На торжественное открытие пришло много людей, среди них был и сам И.&nbsp;М.&nbsp;Рукавишников.
        <br>
        &emsp;Памятник выделяется своей смелостью. А.&nbsp;П.&nbsp;Чехов изображен молодым человеком, сидящим на камне с книгой. Он смотрит в сторону улицы, на которой родился. 
        <br>         
    </p>
    <a id = "checkhov_a" class = "mappos" href = "https://yandex.ru/maps/org/a_p_chekhov/55179811875/?ll=38.922157%2C47.210640&z=18" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "art_museum">
    <div class = "line-sight"></div>
    <h3>ХУДОЖЕСТВЕННЫЙ МУЗЕЙ</h3>
    <img src = "{% static 'attractions/img/images/art_museum.jpg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Таганрогский художественный музей</font> — музей в Таганроге, основанный в 1898 году, к 200-летию города.
        <br>
        &emsp;Музей был открыт по идее А.&nbsp;П.&nbsp;Чехова. По его просьбе, И.&nbsp;Е.&nbsp;Репин обратился в Совет Академии художеств с ходатайством о пополнении коллекции музея работами русских живописцев. Академия передала музею более 40 картин и этюдов известных русских художников. 
        <br>
        &emsp;С 1975 года музей располагается в старинном особняке-памятнике архитектуры середины 19 века с прекрасными интерьерами, сохранившимися каминами, которые обрели вторую жизнь после реставрации.
        <br>        
    </p>
    <a id = "art_a" class = "mappos" href = "https://yandex.ru/maps/org/taganrogskiy_khudozhestvenny_muzey/15110795432/?ll=38.926813%2C47.212188&z=16" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "lavka_Checkov">
    <div class = "line-sight"></div>
    <h3>ЛАВКА ЧЕХОВЫХ</h3>
    <img src = "{% static 'attractions/img/images/muzej-lavka-chehovyh.jpg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Лавка Чехова</font> - музей, открытый в 1977 году
        <br>
        &emsp;Основан в доме 1940-х годов, который был арендован для продажи бакалейных товаров и проживания семьи. Впечатлившись встречами в этой лавке, А.&nbsp;П.&nbsp;Чехов написал такие рассказы как: «Ванька», «Спать хочется», «Канитель», «Певчие», «Архиерей» и др.
        <br>
        &emsp;Переступив порог музея, посетитель погружается в атмосферу времени детства А.&nbsp;П.&nbsp;Чехова, знакомится с бытом и многими предметами 40-х городов. Также в лавке показаны фотографии и некоторые работы семьи известного писателя. В 2011 году перед музеем был установлен памятник героям рассказа «Толстый и тонкий».
        <br>      
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/zhiloy_dom_yevgeniya_ivanovicha_sharonova/242653784859/?ll=38.921109%2C47.218583&z=16" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "Sharonov_house">
    <div class = "line-sight"></div>
    <h3>ДОМ ШАРОНОВА</h3>
    <img src = "{% static 'attractions/img/images/sharonov.png' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Лавка Чехова</font> - музей, открытый в 1977 году
        <br>
        &emsp;Основан в доме 1940-х годов, который был арендован для продажи бакалейных товаров и проживания семьи. Впечатлившись встречами в этой лавке, А.&nbsp;П.&nbsp;Чехов написал такие рассказы как: «Ванька», «Спать хочется», «Канитель», «Певчие», «Архиерей» и др.
        <br>
        &emsp;Переступив порог музея, посетитель погружается в атмосферу времени детства А.&nbsp;П.&nbsp;Чехова, знакомится с бытом и многими предметами 40-х городов. Также в лавке показаны фотографии и некоторые работы семьи известного писателя. В 2011 году перед музеем был установлен памятник героям рассказа «Толстый и тонкий».
        <br>      
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/zhiloy_dom_yevgeniya_ivanovicha_sharonova/242653784859/?ll=38.921109%2C47.218583&z=16" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "Chaykovskiy">
    <div class = "line-sight"></div>
    <h3>ДОМ-МУЗЕЙ ЧАЙКОВСКИХ</h3>
    <img src = "{% static 'attractions/img/images/Chaykovskiy.jpg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Дом</font> принадлежал брату великого композитора Петра Ильича Чайковского. Он был спроектирован архитектором М.&nbsp;П.&nbsp;Петровым по заказу подполковника Войска Донского Д.&nbsp;Г.&nbsp;Калиновского, который, по легенде, потом проиграл данный дом в карты. Это строение из красного кирпича, украшенное узнаваемой зубчатой башней со шпилем, памятник архитектуры 1870-х годов.
                    <br>
                    &emsp;В гости к брату приезжал и знаменитый композитор <font color = "#E0AB4D">П.&nbsp;И.&nbsp;Чайковский</font>. По словам А.&nbsp;П.&nbsp;Чехова: «Если бы я был богат, то непременно бы купил тот дом, где жил Ипполит Чайковский». В самом деле, дом производит яркое впечатление. Его необычный цвет, зубчатая башня и узнаваемый шпиль создают ощущение, будто это средневековый замок. 
                    <br>     
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/memorialny_domik_p_i_chaykovskogo/1130370020/?ll=38.938411%2C47.212181&z=16" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "Chechov_house">
    <div class = "line-sight"></div>
    <h3>ДОМИК ЧЕХОВА</h3>
    <img src = "{% static 'attractions/img/images/Chekhov_house_Taganrog.jpg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Домик Чехова</font> является важной достопримечательностью Таганрога. Это небольшой флигель общей площадью всего 30,5 м². Семья проживала в нем с 1859 по 1861 год. Именно в этом месте в 1860-м году был рожден известный русский писатель А.&nbsp;П.&nbsp;Чехов. Главу семейства, скорее всего, привлекало близкое расположение его лавки с бакалейными товарами. 
        <br>
        &emsp;Открылся небольшой музей в 1926 году, активно способствовал этому Чеховский кружок. В домике-музее хорошо создана атмосфера жизни прошлого столетия – небольшие комнаты, раритетные вещи, каменная печь. Также внутри расположены фотографии семьи писателя, купеческие документы его отца, реликвии семьи.
        <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/domik_chekhova/1186079693/?ll=38.931241%2C47.206874&z=16" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "ladder">
    <div class = "line-sight"></div>
    <h3>КАМЕННАЯ ЛЕСТНИЦА</h3>
    <img src = "{% static 'attractions/img/images/ladder.jpeg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Каменная лестница</font> является одной из самых посещаемых достопримечательностей нашего города. Мало того, что она сама по себе является примечательным архитектурным объектом, вид с её вершины не оставит никого равнодушным.
        <br>
        &emsp;Лестница появилась благодаря богатому купцу и меценату Герасиму Федоровичу Депальдо. Именно он предложил идею создания лестницы и выделил на это средства. Особенность лестницы заключается в том, что если смотреть на нее сверху вниз, кажется, будто она одинаковой ширины. Если же посмотреть на лестницу снизу вверх, то визуально она будет сужаться.
        <br>
        &emsp;Постройка позволяет перейти от ярких Петровских улиц к просторной набережной. На лестнице расположено несколько площадок с удобными лавками.
        <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/kamennaya_lestnitsa/160828955022/reviews/?ll=38.928075%2C47.211560&z=14" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "lit">
    <div class = "line-sight"></div>
    <h3>ЛИТЕРАТУРНЫЙ МУЗЕЙ ИМ.&nbsp;A.&nbsp;П.&nbsp;ЧЕХОВА</h3>
    <img src = "{% static 'attractions/img/images/gimnasium.jpg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Литературный музей им.&nbsp;А.&nbsp;П.&nbsp;Чехова</font> - Музей расположен в здании бывшей мужской классической гимназии, в которой 11 лет провел А.&nbsp;П.&nbsp;Чехов. Здесь писатель вдохновился для написания рассказов «И то и се», «Репетитор», «Человек в футляре».
        <br>
        &emsp;Экспозиция музея позволяет посетителю увидеть, как проходила учебная жизнь писателя, какое влияние город оказал на молодого А.&nbsp;П.&nbsp;Чехова. В бывшей гимназии находится более 1600 экспонатов.
        <br>
        &emsp;В музее проходили такие выставки как Восковые скульптуры Санкт-Петербурга», «Страна ёлочных игрушек», «Таганрог-Ялта. Гений Чехова объединяет», виртуальная выставка «Город Чехова глазами художников».
        <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/gimnaziya_2_imeni_a_p_chekhova/211377795097/?ll=38.921432%2C47.215395&z=16" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "durov">
    <div class = "line-sight"></div>
    <h3>МУЗЕЙ А.&nbsp;А.&nbsp;ДУРОВА</h3>
    <img src = "{% static 'attractions/img/images/durov.jpg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Музей циркового искусства</font>, посвященный прославленному дрессировщику А.&nbsp;А.&nbsp;Дурову. 
        <br>
        &emsp;В 1926 году уже известный во всем мире дрессировщик переезжает с семьей и животными в Таганрог. Он покупает два особняка, в одном из которых и располагается музей, открытый в 1987 году.
        <br>
        &emsp;Внутри расположена экспозиция, рассказывающая о творческом пути артиста. В одном из залов расположена стилизованная арена цирка, на которой находятся чучела артистов А.&nbsp;А.&nbsp;Дурова: читающий журавль, играющая на скрипке обезьяна, поющий цыганские романсы попугай и другие. Также в музее представлен фрагмент обустройства пассажирского вагона, в котором гастролировал дрессировщик.
        <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/muzey_a_a_durova/1105815864/?ll=38.922762%2C47.209176&z=16" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "vasilenko">
    <div class = "line-sight"></div>
    <h3>ДОМ-МУЗЕЙ И.&nbsp;Д.&nbsp;ВАСИЛЕНКО</h3>
    <img src = "{% static 'attractions/img/images/vasilenko.jpg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Дом-музей писателя И.&nbsp;Д.&nbsp;Василенко</font> расположен в доме, в котором с 1923 по 1966 год жил И.&nbsp;Д.&nbsp;Василенко. 
        <br>
        &emsp;Здесь писатель провел большую часть своей жизни. На выставке представлен кабинет, в котором работал над своими произведениями автор, его личные вещи, а также фотографии и различные документы.
        <br>
        &emsp;Перед музеем находится скульптура одного из героев произведений Василенко — Артемка. Он был установлен в 2010 году, скульптором является Давид Бегалов.  
        <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/dom_muzey_pisatelya_i_d_vasilenko/1380766198/?ll=38.925565%2C47.209702&z=16" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "ranevskaya">
    <div class = "line-sight"></div>
    <h3>МУЗЕЙ ФАИНЫ РАНЕВСКОЙ</h3>
    <img src = "{% static 'attractions/img/images/ranevskaya.png' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Музей Фаины Раневской</font> - музей, планирующийся к открытию в Таганроге с 1987 года. Последний раз открытие музея планировалось в 2017 году[1].
        <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/dom_f_g_ranevskoy/41752673368/?ll=38.933793%2C47.210774&z=16" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "october">
    <div class = "line-sight"></div>
    <h3>ОКТЯБРЬСКАЯ ПЛОЩАДЬ</h3>
    <img src = "{% static 'attractions/img/images/october.jpeg' %}">
    <p>
        &emsp;Название <font color = "#E0AB4D">Октябрьская площадь</font> Название «Октябрьская площадь» было присвоено площади в 1952 году. В те же времена была проведена обширная реконструкция перед установкой памятника В.&nbsp;И.&nbsp;Ленину в 1970 году. 
        <br>
        &emsp;Теперь же площадь обзавелась фонтаном, большим количеством лавок для отдыха. На площади находится много деревьев, под которыми можно отдохнуть в жаркие солнечные дни. Неподалеку находится центральная улица Петровская, которую часто посещают туристы в Таганроге.
        <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/971/taganrog/geo/oktyabrskaya_ploshchad/1520636915/?ll=38.936097%2C47.209081&z=18" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "cherry">
    <div class = "line-sight"></div>
    <h3>ПАМЯТНИК А.&nbsp;П.&nbsp;ЧЕХОВУ<br>«ВИШНЁВЫЙ САД»</h3>
    <img src = "{% static 'attractions/img/images/cherry.jpg' %}">
    <p>
        &emsp;Автором памятника является ростовский скульптор Д.&nbsp;В.&nbsp;Лындин. Памятник появился на Чеховской набережной в преддверии 150-летнего юбилея писателя. Поблизости расположен санаторий-профилакторий «Тополь» и гостиница «Приазовье». Открытие памятника состоялось в октябре 2009 года.
        <br>
        &emsp;<font color = "#E0AB4D">«Вишнёвый сад»</font> сразу стал ключевой составляющей набережной. Скульптура выполнена из бронзы и изображает писателя, сидящего на изящной кованой лавочке. Чехов запечатлён в расслабленной позе, руки сложены на коленях, взгляд устремлён на Таганрогский залив.
        <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/profile/46439668545" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "garibaldy">
    <div class = "line-sight"></div>
    <h3>ПАМЯТНИК ДЖУЗЕППЕ ГАРИБАЛЬДИ</h3>
    <img src = "{% static 'attractions/img/images/garibaldi.jpg' %}">
    <p>
        &emsp;В честь <font color = "#E0AB4D">Гарибальди</font> в районе порта, где однажды стояла его шхуна «Клоринда», был установлен обелиск. Именно в Таганроге итальянский революционер встретил единомышленников и поклялся посвятить свою жизнь освобождению и воссоединению своей Родины. Джузеппе смог достичь своей цели, чем и прославился на весь мир
        <br>
        &emsp;Это единственный памятник в честь Джузеппе Гарибальди в странах бывшего Советского Союза.
        <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/d_garibaldi/135339415483/?ll=38.935747%2C47.215235&z=14" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "alex">
    <div class = "line-sight"></div>
    <h3>ПАМЯТНИК АЛЕКСАНДРУ &#8544;</h3>
    <img src = "{% static 'attractions/img/images/alex.jpg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Памятник российскому императору Александру 1</font> был установлен в 1831 году. Это первый памятник в истории Таганрога.
        <br>
        &emsp;На массивном пьедестале во весь рост стояла фигура императора. Александр 1 был одет в генеральский мундир, который гордо попирал ногой извивающуюся змею, что символизировало его победу над Наполеоном. Ангелы у его ног указывали на мягкий характер правителя. В 1920-х годах памятник был демонтирован «на нужды советской промышленности». Только в 1998 году монумент был восстановлен, причем змея и ангелы восстановлены не были. Организаторы проекта посчитали, что победа над Наполеоном произошла слишком давно, и эти события не смогут вписаться в художественный образ.
        <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/aleksandr_i/129879754774/?ll=38.915135%2C47.216946&z=14" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "petr">
    <div class = "line-sight"></div>
    <h3>ПАМЯТНИК ПЕТРУ &#8544;</h3>
    <img src = "{% static 'attractions/img/images/petr.jpeg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Памятник российскому императору Петру I Великому</font>  работы скульптора М.&nbsp;М.&nbsp;Антокольского, установленный в Таганроге в 1903 году. Последний сохранившийся полноразмерный экземпляр, отлитый под непосредственным руководством автора.
                    <br>
                    &emsp;А.&nbsp;П.&nbsp;Чехов активно продвигал идею создания этого памятника, собирал и вносил пожертвования. Бронзовая фигура Петра была отлита в Париже.
                    <br>
                    &emsp;<font color = "#E0AB4D">Император Пётр</font> изображен в мундире офицера Преображенского полка. Правой рукой правитель опирается на трость, в левой руке зажат эфес шпаги. На груди Петра орден Андрея Первозванного. Грудь императора перепоясывает орденская лента. Памятник считается одним из самых запоминающихся в Ростовской области.
                    <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/petr_i/137526983028/?ll=38.946135%2C47.204845&z=17" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "park">
    <div class = "line-sight"></div>
    <h3>ПАРК КУЛЬТУРЫ И ОТДЫХА ИМЕНИ ГОРЬКОГО</h3>
    <img src = "{% static 'attractions/img/images/park.jpg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Городской парк, расположенный в центре города.</font> Это большой парк, в котором можно как и неспешно прогуляться по зеленым аллеям, так и активно провести время на аттракционах или в тире. На центральном входе располагается высокая запоминающаяся арка, через которую в глубине парка можно увидеть Вечный огонь. Также в парке расположен шахматно-шашечный павильон, в котором любой желающий может провести время за игрой. На территории расположен живой уголок.
        <br>
        &emsp;Примечательно, что обширная территория парка позволяет, при желании, провести время в тишине, вдали от аттракционов. Является одним из любимых мест отдыха горожан и туристов.
        <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/park_kultury_i_otdykha_imeni_gorkogo/1125370592/?ll=38.925560%2C47.219992&z=16" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "petruchino">
    <div class = "line-sight"></div>
    <h3>ПЕТРУШИНА КОСА</h3>
    <img src = "{% static 'attractions/img/images/petrushino.jpg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Петрушина коса</font> - Это небольшая узкая песчаная коса, расположенная в Таганрогском заливе, примерно в 25 км к востоку от Беглицкой косы. Длина этой косы едва превышает 200 м. Сейчас здесь отдыхают местные жители и туристы. 
        <br>
        &emsp;Коса — это, прежде всего, прекрасный пляж со светлым песком и чистой теплой водой. Глубина в заливе не очень большая, поэтому вода быстро прогревается.
        <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/plyazh/162866204943/?ll=38.858911%2C47.190682&z=14" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "primor">
    <div class = "line-sight"></div>
    <h3>ПРИМОРСКИЙ ПАРК</h3>
    <img src = "{% static 'attractions/img/images/primor.jpeg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Приморский парк</font> появился в Таганроге в начале 1960-х годов. Это просторный, преимущественно прогулочный парк. На территории обустроено большое количество лавочек, среди них есть и те, которые специально спроектированы для лежания. Также была оборудована большая спортивная площадка, включающая в себя футбольное, баскетбольное поле, зону с турниками, брусьями и проч. Посетителям с детьми понравится современная детская площадка и аттракционы
        <br>
        &emsp;Одной из ключевых особенностей парка является прилегающий Приморский пляж, который соединяет с парком лестница. На побережье расположены небольшие навесы, чтобы можно было спастись от жары, и такие же маленькие лавочки для отдыха в тени. Из-за того, что залив неглубокий, вода на пляже достаточно быстро прогревается.
        <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/plyazh/162866204943/?ll=38.858911%2C47.190682&z=14" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "naber">
    <div class = "line-sight"></div>
    <h3>ПУШКИНСКАЯ НАБЕРЕЖНАЯ</h3>
    <img src = "{% static 'attractions/img/images/nabereznaya.jpg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Пушкинская набережная</font> - старейшая набережная в Таганроге, появившаяся в городском плане еще в 1808 году. 
        <br>
        &emsp;Главным объектом, находящимся на набережной, является памятник в честь 300-летия Таганрога. Это ангел, стоящий на трех высоких колоннах, которые символизируют три века истории города. На территории набережной также расположен памятник А. С. Пушкину, скульптура «Роман с контрабасом» из одноименного произведения А. П. Чехова. 
        <br>
        &emsp;С набережной открывается прекрасный вид на Таганрогский залив. В летнее время на территории открыты многие сувенирные палатки, а также временные летние кафе. Также неподалеку от набережной располагаются два пляжа — «Солнечный» и «Елисеевский».
        <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/971/taganrog/geo/pushkinskaya_naberezhnaya/773317285/?ll=38.944015%2C47.213956&z=15" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "clocks">
    <div class = "line-sight"></div>
    <h3>СОЛНЕЧНЫЕ ЧАСЫ</h3>
    <img src = "{% static 'attractions/img/images/clocks.jpg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Солнечные часы</font> часы были установлены в Таганроге в 1833 году. Они реконструировались в 1972-м, 1990-м, и в 2006–2007 годах. 
        <br>
        &emsp;Циферблат этих часов необычен. Цифры, которые на нем выгравированы, вычислены по специальной формуле. Помимо часов, даны корректирующие поправки для каждого месяца. Стрелкой часов служит край тени, отбрасываемой гномоном на циферблат. Раньше эти часы показывали действительное таганрогское время, которое на 25 минут спешит относительно московского. Циферблат солнечных часов выгравирован на 300-килограммовой мраморной плите, установленной параллельно горизонту. Это самые старые солнечные часы в России.
        <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/solnechnyye_chasy/197885852352/?ll=38.937233%2C47.212922&z=16" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "aviation">
    <div class = "line-sight"></div>
    <h3>МУЗЕЙ АВИАЦИИ</h3>
    <img src = "{% static 'attractions/img/images/aviation.jpg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Таганрогский музей авиационной техники</font> был основан в 1995 г. Его появление связано с заключением в этот период договора об ограничении вооруженных сил России в Европе, военные самолеты пришлось сокращать. Было решено уничтожать технику в Таганроге, но главный инженер базы по ликвидации предложил сохранить хотя бы по одному самолету каждого типа. Естественно, без двигателей и бортовых систем. Идею поддержало руководство, и первым хранителем музея стал этот инженер, подполковник В. Стоянов. 
        <br>
        &emsp;На данный момент этот музей является единственным авиационным музеем на Юге России. Стоит отметить, что для посещения музея необходима предварительная запись, вход разрешен только по паспортам.
        <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/muzey_aviatsionnoy_tekhniki/3920448525/?ll=38.867444%2C47.240906&z=16" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "Hram">
    <div class = "line-sight"></div>
    <h3>ЦЕРКОВЬ ВСЕХ СВЯТЫХ</h3>
    <img src = "{% static 'attractions/img/images/Hram.jpg' %}">
    <p>
        &emsp;<font color = "#E0AB4D">Церковь Всех Святых</font> - был заложен в 1810 году. Стройка затянулась, и храм был готов только к 1824 году. Известно, что в 1826 году вдовствующая императрица Елизавета Алексеевна пожертвовала деньги на построение этой церкви. 
                    <br>
                    &emsp;В 1922 году большевистские власти изъяли всю церковную утварь. Во время Великой Отечественной войны церковь открылась, и в послевоенное время храм стал единственным из дореволюционных культовых сооружений города, сохранившихся в изначальном виде и не разрушенных в советское время. Также примечательно, что в подземелье храма Всех Святых находится захоронение 13-го градоначальника Таганрога адмирала Кульчицкого.
                    <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/tserkov_vsekh_svyatykh/1332532532/?ll=38.902559%2C47.207848&z=16" target = "_blank">Местоположение</a> 
</div>
<div class = "sight" id = "Hram_Nicolay">
    <div class = "line-sight"></div>
    <h3>ЦЕРКОВЬ НИКОЛАЯ ЧУДОТВОРЦА</h3>
    <img src = "{% static 'attractions/img/images/Hram_Nicolay.jpg' %}">
    <p>
        &emsp;Строительство <font color = "#E0AB4D">храма</font> пришлось на 1777–1778 года. Храм был построен моряками, а прихожанами по большей части были рыбаки. По городской легенде, место для храма было выбрано на том месте, где располагалась палатка Петра Первого, когда он впервые прибыл в Таганрог.
        <br>
        &emsp;Во время Великой Отечественной войны храм понес сильные разрушения, он был восстановлен в 1990-х годах.
        <br>
        &emsp;Также на территории храма расположен колокол с богатой историей. Он был отлит из трофейных турецких пушек в 1778 году в Таганроге, и после создания совершил путешествие по маршруту Таганрог — Севастополь — Париж — Таганрог, это путешествие заняло у него более века. Возвращение колокола было радостным событием для горожан, они встретили его Крестным ходом по улицам города.
        <br>
    </p>
    <a  class = "mappos" href = "https://yandex.ru/maps/org/tserkov_nikolaya_chudotvortsa/1102516806/?ll=38.940755%2C47.201682&z=16" target = "_blank">Местоположение</a> 
</div>
<div id = "last_line" class = "line-sight"></div>

<!--Лого команды, vk...-->
<div id="last-block">
    <a id="first">Copyright (с) 2022 Eclipse</a>
    <a id="second">Facebook —     Vkontakte —     Instagram</a>
    <img id="last-picture" src="{% static 'attractions/img/images/Full_Logo.svg' %}">
</div>

<script>
    let slider = document.querySelector('.slider'),
        sliderList = slider.querySelector('.slider-list'),
        sliderTrack = slider.querySelector('.slider-track'),
        slides = slider.querySelectorAll('.slide'),
        arrows = slider.querySelector('.slider-arrows'),
        prev = arrows.children[0],
        next = arrows.children[1],
        count = 0;
        slideWidth = slides[0].offsetWidth,
        slideIndex = 0,
        posInit = 0,
        posX1 = 0,
        posX2 = 0,
        posFinal = 0,
        posThreshold = slideWidth * .35,
        trfRegExp = /[-0-9.]+(?=px)/,
        slide = function() {
            sliderTrack.style.transition = 'transform .5s';
            sliderTrack.style.transform = `translate3d(-${slideIndex * slideWidth}px, 0px, 0px)`;

            // делаем стрелку prev недоступной на первом слайде
            // и доступной в остальных случаях
            // делаем стрелку next недоступной на последнем слайде
            // и доступной в остальных случаях
            prev.classList.toggle('disabled', slideIndex === 0);
            next.classList.toggle('disabled', slideIndex === --slides.length);
        }
    getEvent = function() {
        return event.type.search('touch') !== -1 ? event.touches[0] : event;
        // p.s. event - аргумент по умолчанию в функции
    },
// или es6
        getEvent = () => event.type.search('touch') !== -1 ? event.touches[0] : event,

        swipeStart = function() {
            let evt = getEvent();

            // берем начальную позицию курсора по оси Х
            posInit = posX1 = evt.clientX;

            // убираем плавный переход, чтобы track двигался за курсором без задержки
            // т.к. он будет включается в функции slide()
            sliderTrack.style.transition = '';

            // и сразу начинаем отслеживать другие события на документе
            document.addEventListener('touchmove', swipeAction);
            document.addEventListener('touchend', swipeEnd);
            document.addEventListener('mousemove', swipeAction);
            document.addEventListener('mouseup', swipeEnd);
        },
        swipeAction = function() {
            let evt = getEvent(),
                // для более красивой записи возьмем в переменную текущее свойство transform
                style = sliderTrack.style.transform,
                // считываем трансформацию с помощью регулярного выражения и сразу превращаем в число
                transform = +style.match(trfRegExp)[0];

            posX2 = posX1 - evt.clientX;
            posX1 = evt.clientX;

            sliderTrack.style.transform = `translate3d(${transform - posX2}px, 0px, 0px)`;
            // можно было бы использовать метод строк .replace():
            // sliderTrack.style.transform = style.replace(trfRegExp, match => match - posX2);
            // но в дальнейшем нам нужна будет текущая трансформация в переменной
        }
    swipeEnd = function() {
        // финальная позиция курсора
        posFinal = posInit - posX1;

        document.removeEventListener('touchmove', swipeAction);
        document.removeEventListener('mousemove', swipeAction);
        document.removeEventListener('touchend', swipeEnd);
        document.removeEventListener('mouseup', swipeEnd);

        // убираем знак минус и сравниваем с порогом сдвига слайда
        if (Math.abs(posFinal) > posThreshold) {
            // если мы тянули вправо, то уменьшаем номер текущего слайда
            if (posInit < posX1) {
                slideIndex--;
                // если мы тянули влево, то увеличиваем номер текущего слайда
            } else if (posInit > posX1) {
                slideIndex++;
            }
        }

        // если курсор двигался, то запускаем функцию переключения слайдов
        if (posInit !== posX1) {
            slide();
        }

    };
    arrows.addEventListener('click', function() {
        let target = event.target;

        if (target === next) {
            slideIndex++;
        } else if (target === prev) {
            slideIndex--;
        } else {
            return;
        }

        slide();
    });

    sliderTrack.style.transform = 'translate3d(0px, 0px, 0px)';

    slider.addEventListener('touchstart', swipeStart);
    slider.addEventListener('mousedown', swipeStart);
</script>
</body>

</html>